<template>
  <v-card elevation="0">
    <v-card-title>
      <v-spacer></v-spacer>
      <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
      ></v-text-field>
    </v-card-title>

    <v-data-table
        :headers="headers"
        :items="items"
        :search="search"
    >
      <template v-slot:item.penguji="{item}">
        <v-chip-group
            active-class="primary--text"
        >
          <v-chip
              v-for="examiner in item.penguji"
              :key="`${examiner.id}`"
              color="blueShade"
              class="text--white"
          >
            {{ examiner.name }}
          </v-chip>
        </v-chip-group>
      </template>
      <template v-slot:item.bidangKeahlian="{item}">
        <v-chip-group
            active-class="primary--text"
        >
          <v-chip
              v-for="category in item.bidangKeahlian"
              :key="`${category.id}`"
              color="blueShade"
              class="text--white"
          >
            {{ category.name }}
          </v-chip>
        </v-chip-group>
      </template>
      <template v-slot:item.date="{item}">
        {{dateToCalender(item)}}
      </template>
      <template v-slot:item.action="{ item }">
        <detail-button
            @click="detailItem(item)"
            description="Final Project Schedule"
        ></detail-button>
        <edit-button
            @click="editItem(item)"
            description="Final Project Schedule"
        ></edit-button>
        <delete-button
            @click="deleteItem(item)"
            description="Final Project Schedule"
        ></delete-button>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import headers from "@/config/tables/infoRoom"
import EditButton from "@/components/button/EditButton";
import DetailButton from "@/components/button/DetailButton";
import DeleteButton from "@/components/button/DeleteButton";
import moment from "moment";
import {mapState} from "vuex";
export default {
  name: "RoomTable",
  data: () => ({
    headers,
    search: ''
  }),
  components: {EditButton, DetailButton, DeleteButton},
  computed: {
    ...mapState('room',[
      'items'
    ])
  },
  methods: {
    fetchAPI(){
      console.log("OKEEE")
    },
    detailItem(item){
      this.$emit('itemDetail', item)
    },
    editItem(item){
      console.log(item)
    },
    deleteItem(item){
      this.$store.dispatch('onNotificationConfirm',
          {
            description: "Are you sure delete schedule-old, All schedule will be deleted ! ", title: "Delete", button: [
              {
                text: 'Yes', action: (toast) => {
                  this.$store.dispatch('room/deleted', {roomId : item.id})
                      .then(this.fetchAPI)
                  this.$snotify.remove(toast.id)
                }, bold: false
              },
              {text: 'No', action: (toast) => this.$snotify.remove(toast.id)},
            ]
          }
      )
    },
    dateToCalender(item){
      return moment(item.date).format('L')
    }
  }
}
</script>

<style scoped>
.text--white{
  color: #FFFFFF;
}
</style>
