<template>
  <v-dialog
      v-model="dialog"
      max-width="500px"
  >
    <v-card v-if="!loading" >
      <v-card-title>
        <span class="headline">Detail Room</span>
      </v-card-title>
      <v-list
          v-if="detailItem"
          class="px-4"
          flat>
        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-google-classroom </v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Room :</v-list-item-subtitle>
            <v-list-item-title  v-text="detailItem.name" class="text-big"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-format-list-bulleted</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Category :</v-list-item-subtitle>
            <v-row >
              <v-col
                  v-for="category in detailItem.bidangKeahlian"
                  :key="category.id"
                  lg="5"
                  md="12"
                  class="mt-3"
              >
                <v-list-item-title
                    v-text="category.name"></v-list-item-title>
              </v-col>
            </v-row>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-account-outline </v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Examiner :</v-list-item-subtitle>
            <v-row >
              <v-col
                  v-for="examiner in detailItem.penguji"
                  :key="examiner.id"
                  lg="5"
                  md="12"
                  class="mt-3"
              >
                <v-list-item-title
                    v-text="examiner.name"></v-list-item-title>
              </v-col>
            </v-row>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-calendar </v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Date :</v-list-item-subtitle>
            <v-list-item-title
                class="text-big"
                v-text="dateToCalender(detailItem)"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

      </v-list>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            color="blue darken-1"
            text
            @click="close"
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
    <loading-card v-else></loading-card>
  </v-dialog>
</template>

<script>
import moment from "moment";
import LoadingCard from "@/components/LoadingCard";
import {mapState} from "vuex";
export default {
  name: "ScheduleDetail",
  data: () => ({
    dialog: false,
  }),
  components : {LoadingCard},
  computed: {
    ...mapState('room',[
      'loading',
      'detailItem'
    ]),
  },
  methods: {
    open(item) {
      this.$store.dispatch('room/getDetailItem', { roomId: item.id}).then(() => {
        this.dialog = true
      })
    },
    close() {
      this.dialog = false
    },
    dateToCalender(item){
      return moment(item.date).format('L')
    }
  }
}
</script>

<style scoped>
.text-big {
  font-size: 12pt;
}
</style>
