<template>
  <v-container
      id="regular-tables"
      fluid
      tag="section"
  >
    <template>
      <base-material-card
          icon="mdi-account-group"
          :title="this.$route.meta.title"
          class="px-5 py-3"
      >
        <user-modal
            ref="userModal"
        >
        </user-modal>
        <user-table
            @detailItem="detailItem"
        ></user-table>
      </base-material-card>
    </template>
  </v-container>
</template>


<script>
import { mapActions } from 'vuex'

export default {
  name: "UserManagement",
  components: {
    UserModal: () => import('@/fragment/manage/user/UserDetailModal'),
    UserTable: () => import('@/fragment/manage/user/UserTable')
  },
  data: () => ({
    attrs: {
      class: 'mb-6',
      boilerplate: true,
      elevation: 2,
    },
  }),
  mounted: function () {
    this.fetchAPI()
  },
  methods: {
    ...mapActions('manage/user',[
       'detailUser'
    ]),
    fetchAPI() {
      this.$store.dispatch('manage/user/getItems', {status: 'active'})
      this.$store.dispatch('manage/user/getRoles')
    },

    detailItem(indexItem){
      this.detailUser(indexItem)
        .then(() => {
          this.$refs.userModal.open()
        })
    }
  }
}
</script>

<style scoped lang="scss">

</style>
