<template>
  <v-card elevation="0">
    <v-card-title>
<!--      <v-row>-->
<!--        <v-col-->
<!--            cols="3"-->
<!--        >-->
<!--          <v-select-->
<!--              v-model="roomId"-->
<!--              :items="items"-->
<!--              item-text="room"-->
<!--              item-value="id"-->
<!--              label="Room"-->
<!--              outlined-->
<!--          ></v-select>-->
<!--        </v-col>-->
<!--      </v-row>-->
      <v-spacer></v-spacer>
      <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          v-on:change="searchItem"
          single-line
          hide-details
      ></v-text-field>
    </v-card-title>

    <v-data-table
        :headers="headers"
        :items="dataTable"
        :search="search"
    >
      <template v-slot:item.sesi_start_at="{item}">
        {{item.sesi_start_at}} - {{item.sesi_end_at}}
      </template>
      <template v-slot:item.action="{ item }">
        <v-tooltip
            v-if="item.penguji || item.pembimbing || item.moderator"
            bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
                class="mr-2"
                color="danger"
                v-bind="attrs"
                v-on="on"
            >
              mdi-alert-circle
            </v-icon>
          </template>
          <span>{{ tooltipAlertText(item) }}</span>
        </v-tooltip>
        <edit-button
            @click="switchSchedule(item)"
            description="Final Project Schedule"
        ></edit-button>
        <delete-button
            @click="deleteItem(item)"
            description="Final Project Schedule"
        ></delete-button>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import EditButton from "@/components/button/EditButton";
import DeleteButton from "@/components/button/DeleteButton";
import headers from "@/config/tables/schedule"
import {mapGetters} from "vuex";
import paginationMixins from "../../mixins/paginationMixins";
export default {
  name: "ScheduleTable",
  components: {EditButton, DeleteButton},
  props: {
    dataTable: {
      required: true
    }
  },
  data: () => ({
    headers,
    searchItem: '',
    roomId : 1
  }),
  computed: {
    ...mapGetters('schedule',['filter'])
  },
  mixins: [paginationMixins],
  methods: {
    fetchAPI(){
      this.$emit('fetchAPI')
    },
    tooltipAlertText (item) {
      let text = 'Data '
      if(item.penguji === null)
        text+='penguji '
      if(item.pembimbing === null)
        text+='pembimbing '
      if(item.moderator === null)
        text+='moderator '
      text+='kosong.'
      return text
    },
    searchItem(query){
      let search = query
      search === '' ? search = null : search
      this.setFilter({
        ...this.filter,
        search : search
      })
      this.fetchAPI()
    },
    switchSchedule(item){
      this.$emit('onEdit', Object.assign({}, item))
    },
    deleteItem(item){
      this.$store.dispatch('onNotificationConfirm',
          {
            description: `Are you sure want to delete Schedule ? `, title: "Delete", button: [
              {
                text: 'Yes', action: (toast) => {
                  this.$store.dispatch('schedule/delete', item.id)
                      .then(() => {
                        this.$emit('deleted')
                      })
                  this.$snotify.remove(toast.id)
                }, bold: false
              },
              {text: 'No', action: (toast) => this.$snotify.remove(toast.id)},
            ]
          })
    },
  }
}
</script>

<style scoped>

</style>
