<template>
  <v-container
      id="regular-tables"
      fluid
      tag="section"
  >
    <base-material-card
        :icon="this.$route.meta.icon"
        :title="this.$route.meta.title"
        class="px-5 py-3"
    >
      <v-card elevation="0">
        <v-card-title>
          <v-row>
            <v-col
                cols="4"
            >
              <v-select
                  v-model="roomId"
                  :items="items"
                  item-text="room"
                  item-value="id"
                  label="Room"
                  outlined
              ></v-select>
            </v-col>
          </v-row>
          <v-spacer></v-spacer>
        </v-card-title>

        <v-data-table
            :headers="headers"
            :items="items"
        >
          <template v-slot:item.date="{item}">
            {{dateToHours(item)}}
          </template>
          <template v-slot:item.action="{ item }">
            <v-icon
                v-if="item.id === true"
                class="mr-2"
                color="green"
            >
              mdi-toggle-switch
            </v-icon>
            <v-icon
                v-else
                class="mr-2"
                color="amber"
            >
              mdi-toggle-switch-off-outline
            </v-icon>
            <edit-button
                @click="switchSchedule(item)"
                description="Final Project Schedule"
            ></edit-button>
            <delete-button
                @click="deleteItem(item)"
                description="Final Project Schedule"
            ></delete-button>
          </template>
        </v-data-table>
      </v-card>
    </base-material-card>
  </v-container>
</template>

<script>
import {mapState} from "vuex";
import moment from "moment";
import EditButton from "@/components/button/EditButton";
import DeleteButton from "@/components/button/DeleteButton";
import headers from "@/config/tables/schedule"

export default {
  name: "ScheduleRoomTable",
  components: {EditButton, DeleteButton},
  data: () => ({
    headers,
    roomId : 1
  }),
  computed: {
    ...mapState('schedule',[
      'items'
    ])
  },
  watch:{
    roomId () {
      this.fetchAPI()
    }
  },
  methods: {
    fetchAPI(){
      console.log("OKEEE")
    },
    switchSchedule(item){
      this.$store.dispatch('schedule/editedItem', item.id)
          .then(() => {
            this.$emit('onSwitch', item)
            //console.log(item)
          })
    },
    deleteItem(item){
      this.$store.dispatch('onNotificationConfirm',
          {
            description: `Are you sure want to delete Schedule ? `, title: "Delete", button: [
              {
                text: 'Yes', action: (toast) => {
                  this.$store.dispatch('schedule/delete', item.id)
                      .then(() => {
                        this.$emit('deleted')
                      })
                  this.$snotify.remove(toast.id)
                }, bold: false
              },
              {text: 'No', action: (toast) => this.$snotify.remove(toast.id)},
            ]
          })
    },
    dateToHours(item){
      return moment(item.date).format('h:mm')
    }
  }
}
</script>

<style scoped>

</style>
