<template>
  <v-dialog
      v-model="dialog"
      max-width="100%"
  >
    <v-card  v-if="!loading">
      <v-card-title class="bg-blue pb-3 text--white">
        <span class="headline">New Schedule</span>
      </v-card-title>

      <v-col lg="3" sm="6">
        <v-select
            class="select-width"
            v-model="sessionSelect"
            :items="item.sessions"
            :item-text="name"
            :item-value="id"
            label="Session"
            outlined
        ></v-select>
      </v-col>

      <v-form
          lazy-validation
          ref="form"
          @submit.prevent="save"
      >
        <v-card
            width="100%"
            class="mx-auto text--white"
            max-width="90%"
            color="blueLight"
            elevation="0"
        >
          <v-card-text>
            <v-card-title class="d-flex justify-start align-start text--white">
              Room 1
            </v-card-title>
          </v-card-text>
          <v-card-text>
            <v-row >
              <v-col lg="4" md="6" sm="12">
                <v-text-field
                    label="NRP"
                    :rules="rules.number('NRP')"
                    color="white"
                    outlined
                    v-model="item.nrp"
                />
              </v-col>
              <v-col lg="4" md="6" sm="12">
                <v-text-field
                    label="Nama"
                    :rules="rules.required('nama')"
                    color="white"
                    outlined
                    v-model="item.nama"
                />
              </v-col>
              <v-col lg="4" md="6" sm="12">
                <v-text-field
                    label="Kelas"
                    :rules="rules.required('kelas')"
                    color="white"
                    outlined
                    v-model="item.kelas"
                />
              </v-col>
            </v-row>

            <v-row justify="start">
              <v-col sm="12" md="5">
                <v-select
                    :items="pembimbing"
                    label="Pembimbing 1"
                    :rules="rules.required('pembimbing 1')"
                    color="white"
                    outlined
                    v-model="item.pembimbing1"
                />
                <v-btn
                    outlined
                    rounded
                    color="white"
                >
                  Moderator
                </v-btn>
              </v-col>
              <v-col md="1"></v-col>
              <v-col sm="12" md="5">
                <v-select
                    :items="pembimbing"
                    label="Pembimbing 2"
                    :rules="rules.required('pembimbing 2')"
                    color="white"
                    outlined
                    v-model="item.pembimbing2"
                />
                <v-btn
                    outlined
                    rounded
                    color="white"
                >
                  Moderator
                </v-btn>
              </v-col>
            </v-row>

            <v-row >
              <v-col lg="4" md="6" sm="12">
                <v-select
                    :items="penguji"
                    label="Penguji 1"
                    :rules="rules.required('Penguji 1')"
                    color="white"
                    outlined
                    v-model="item.penguji1"
                />
              </v-col>
              <v-col lg="4" md="6" sm="12">
                <v-select
                    :items="penguji"
                    label="Penguji 2"
                    :rules="rules.required('Penguji 2')"
                    color="white"
                    outlined
                    v-model="item.penguji2"
                />
              </v-col>
              <v-col lg="4" md="6" sm="12">
                <v-select
                    :items="penguji"
                    label="Penguji 2"
                    :rules="rules.required('Penguji 2')"
                    color="white"
                    outlined
                    v-model="item.penguji3"
                />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              color="blue darken-1"
              text
              @click="close"
          >
            Cancel
          </v-btn>
          <v-btn
              color="success"
              type="submit"
          >
            Create
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
    <loading-card v-else></loading-card>
  </v-dialog>
</template>

<script>
import LoadingCard from "@/components/LoadingCard";
import rules from "../../config/validation/baseRules";

export default {
  name: "ScheduleNew",
  data: () => ({
    item : {
      sessions: [
        {
          id: 1,
          name : 'Session1'
        },
        {
          id: 2,
          name: 'Session2'
        }
      ],
    },
    sessionSelect : null,
    pembimbing: [
        'yoshi',
        'bagas',
        'yoshi2'
    ],
    penguji: [
      'dani',
      'dimas',
      'bella'
    ],
    loading: false,
    dialog: false,
    rules
  }),
  components: {LoadingCard},
  methods: {
    open(item) {
      this.item = item
      this.dialog = true
    },
    close(){
      this.dialog = false
    },
    save(){

    }
  }
}
</script>

<style scoped>
 .bg-blue{
   background: #00cae3;
 }
 .text--white{
   color: white;
 }

 .select-width{
   margin-left: 4rem;
   margin-right: 4rem;
 }
</style>
