<template>
  <div>
    <loading-card v-if="loading"></loading-card>
    <base-material-card v-else-if="itemEdited" color="blueShade">
      <template v-slot:heading>
        <div class="display-2">
          {{ itemEdited.name }}
        </div>

      </template>
      <v-card-text>
        <h3 class="mb-4">Devices</h3>
        <v-list>
          <v-list-group
              v-model="deviceActive"
              no-action
          >
            <template v-slot:activator>
              <v-list-item-content >
                <v-list-item-title>Dosen Pembimbing : {{roomSchedule.dosenPembimbing1}}</v-list-item-title>
              </v-list-item-content>
              <v-list-item-action class="d-inline">
                <edit-button
                    v-on:click="editRoom(roomSchedule)"
                ></edit-button>
              </v-list-item-action>
            </template>

            <v-list-item>
              <v-list-item-icon>
                <v-icon >mdi-card-text</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title v-text="'Description'"></v-list-item-title>
                <v-list-item-subtitle>{{ device.description }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-icon>
                <v-icon >mdi-broadcast</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title v-text="'Endpoint Url'"></v-list-item-title>
                <v-list-item-subtitle>{{ device.endpoint_url }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-icon>
                <v-icon >mdi-ip-network-outline</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title v-text="'IP Address'"></v-list-item-title>
                <v-list-item-subtitle>{{ device.ip_address }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-icon>
                <v-icon >mdi-cellphone-link</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title v-text="'Status'"></v-list-item-title>
                <v-list-item-subtitle><span :class="device.is_active ? 'success--text' : 'danger--text'">{{ device.is_active ? "Active" : "Inactive" }}</span> <br> Interval : {{ device.interval/1000 }}s</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
        </v-list>
      </v-card-text>
    </base-material-card>
  </div>
</template>

<script>
import LoadingCard from "@/components/LoadingCard";
import {mapState} from "vuex";
import EditButton from "@/components/button/EditButton";

export default {
  name: "ScheduleEdit",
  components: {EditButton, LoadingCard},
  computed: {
    ...mapState('room',['loading', 'itemEdited'])
  },
  methods: {
    editRoom(item) {
      console.log(item)
    }
  }
}
</script>

<style scoped>

</style>
