<template>
  <v-card elevation="0">
    <v-card-title>
      <v-spacer></v-spacer>
      <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
      ></v-text-field>
    </v-card-title>

    <v-data-table
        :loading="loading"
        :headers="headers"
        :items="items"
        :page="filter.page"
        :items-per-page="filter.per_page"
        :server-items-length="filter.total"
        :search="search"
        class="elevation-0"
        @update:page="onPaginateClick"
        @update:items-per-page="updateItemsPerPage"
    >
      <template v-slot:item.permissions="{ item }">
        <div class="d-flex flex-wrap">
          <div
              class="d-flex flex-wrap"
              v-for="(data,i) in item.permissions"
              :key="`items-${i}`"
          >
            <v-chip
                color="grey darken-1"
                class="px-2 mx-1 my-2 text--white"
            >
              {{ data.name }}
            </v-chip>
          </div>
        </div>
      </template>

      <template v-slot:item.action="{ item }">
        <template v-for="act in actionButton">
          <v-icon
              v-if="$can(getGate(act))"
              :key="`key-action-${act}`"
              :color="getColor(act)"
              :disabled="item.role_id === null"
              @click="itemAction(act, item)"
              class="ma-1"
          >
            {{ getIcon(act) }}
          </v-icon>
        </template>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import headers from '@/config/tables/manage/role'
import {mapGetters, mapMutations, mapState} from 'vuex'
import roleGate from "@/config/gate/role";

export default {
  name: "TablePermission",
  data: () => ({
    headers,
    actionButton: ['edit', 'delete'],
    search: null,
    roleGate
  }),
  computed: {
    ...mapState('manage/role', [
        'items', 'loading',
    ]),
    ...mapGetters('manage/role', ['filter']),
  },
  methods: {
    ...mapMutations('manage/role', ['setFilter']),
    fetchAPI() {
      this.$store.dispatch('manage/role/getItems')
    },
    getIcon(item) {
      switch (item){
        case 'edit' :
          return 'mdi-pencil'
        case 'delete' :
          return 'mdi-delete'
        case 'view' :
          return 'mdi-eye'
      }
    },
    getGate(item) {
      switch (item){
        case 'edit' :
          return roleGate.edit
        case 'delete' :
          return roleGate.delete
        case 'view' :
          return roleGate.show
      }
    },
    getColor(item) {
      switch (item){
        case 'edit' :
          return 'amber'
        case 'delete' :
          return 'red'
        case 'view' :
          return 'blue'
      }
    },
    itemAction(act, item) {
      this.$emit('itemAction', act, item)
    },
    onPaginateClick(page) {
      this.setFilter({
        current_page: page,
      })
      this.fetchAPI()
    },
    updateItemsPerPage(itemsPerPage) {
      this.setFilter({
        per_page: itemsPerPage,
      })
      this.fetchAPI()
    }
  }
}
</script>

<style scoped>
.text--white{
  color: #FFFFFF;
}
table.v-table thead th {
  white-space: normal
}
.table-a .v-data-table__wrapper table {
  table-layout: fixed;
}
</style>
