<template>
  <v-dialog
      v-model="dialog"
      max-width="500px"
  >
    <v-card  v-if="!loading">
      <v-card-title>
        <span class="headline">{{ renderedTitle }} Role</span>
      </v-card-title>

      <v-card-text v-if="editedItem">
        <v-form
          ref="form"
        >
          <v-text-field
            label="Role Name"
            outlined
            v-model="editedItem.name"
            :error-messages="errors.name"
            :rules="rules.required('Role Name')"
          />
          <v-row>
            <v-col
              cols="12"
              sm="12"
            >
              <v-select
                  v-model="permissionsCheck"
                  :error-messages="errors.permissions"
                  :items="permissions"
                  item-text="name"
                  item-value="id"
                  clearable
                  outlined
                  dense
                  chips
                  small-chips
                  label="Permissions"
                  multiple
              ></v-select>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            color="blue darken-1"
            text
            @click="close"
        >
          Cancel
        </v-btn>
        <v-btn
            color="primary"
            @click="save"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
    <loading-card v-else></loading-card>
  </v-dialog>
</template>

<script>
import {mapState} from "vuex";
import rules from "@/config/validation/baseRules";
import LoadingCard from "@/components/LoadingCard";

export default {
  name: "RoleForm",
  data: () => ({
    dialog: false,
    permissionsCheck : [],
    editedItem: null,
    isEdit: null,
    rules
  }),
  components: {LoadingCard},
  watch: {
    editedItem () {
      if(this.isEdit)
        this.filteredPermissions()
    }
  },
  props: [
    'editedModalRoles',
  ],
  computed: {
    ...mapState('manage/permission', {permissions: 'items', permissionLoading: 'loading'}),
    ...mapState('manage/role',{ roleLoading : 'loading'}),
    ...mapState('notification', ['errors']),
    renderedTitle(){
      return this.isEdit ? 'Edit' : 'Create'
    },
    loading(){
      return this.permissionLoading || this.roleLoading
    }
  },
  mounted() {
    this.$store.dispatch('manage/permission/getItems')
  },
  methods: {
    open(item, type) {
      this.editedItem = item
      this.dialog = !!item
      this.isEdit= type
      if (!this.isEdit) {
        this.permissionsCheck = []
        this.$refs.form.reset()
      }
    },

    filterDataPush(permissionsCheck){
      const arrayRole = permissionsCheck
      const temp = []
      arrayRole.map(data => {
          temp.push(this.permissions[data].id)
      })
      return temp
    },

    save () {
      if (this.$refs.form.validate()) {
        const data = {
          name: this.editedItem.name,
          permissions : this.filterDataPush(this.permissionsCheck),
        }
        let promise = null
        if(this.isEdit){
          promise = this.$store.dispatch('manage/role/update', {
            data,
            roleId: this.editedItem.id,
          })
        }
        else {
          promise = this.$store.dispatch('manage/role/create', data)
        }
        promise.then(() => {
          this.$store.dispatch('manage/role/getItems')
          this.close()
          this.$refs.form.reset()
        })
      }
    },

    close() {
      this.dialog = false
      this.$refs.form.reset()
    },

    fetchAPI() {
      this.$store.dispatch('manage/role/getItems')
      this.$store.dispatch('manage/permission/getItems')
    },

    filteredPermissions () {
      const items = this.editedItem.permissions
      const temp = [];
      items.map(data => {
        return temp.push(data.id -1)
      })
      this.permissionsCheck = Object.assign([], temp)
    },

    deleteItemConfirm(item) {
      this.$store.dispatch('manage/role/delete', item.id)
          .then(this.fetchAPI)
    },
  }
}
</script>

<style scoped>

</style>
