<template>
  <v-dialog
      v-model="dialog"
      max-width="500px"
  >
    <v-card
        v-if="item"
        class="px-4 pt-2"
    >
      <v-list flat>
        <v-list-item-title class="headline text-center mb-6">Detail User</v-list-item-title>
        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-account</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
               >Name :</v-list-item-subtitle>
            <v-list-item-title  v-text="item.name" class="text-big"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-email</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Email :</v-list-item-subtitle>
            <v-list-item-title
                class="text-big"
                v-text="item.email"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item >
          <v-list-item-icon>
            <v-icon large >mdi-account-details</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Role :</v-list-item-subtitle>
            <v-list-item-title class="text-big" >{{item.role ? item.role.name : 'Admin'}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item v-if="item.role && item.role.permissions">
          <v-list-item-icon>
            <v-icon large >mdi-shield-account-variant</v-icon>
          </v-list-item-icon>
          <v-list-item-content

          >
            <v-list-item-subtitle
                class="text-big"
            >Permissions :</v-list-item-subtitle>
            <div class="d-flex flex-wrap">
              <div
                  class="col-lg-5 col-md-12 mt-3 custom-padding"
                  v-for="permission in item.role.permissions"
                  :key="permission.id"
              >
                <v-list-item-title
                    v-text="permission.name"></v-list-item-title>
              </div>
            </div>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-card-actions class="d-flex justify-end px-4 py-4">
        <v-btn
            outlined
            @click="close"
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: "UserDetailModal",
  data: () => ({
    dialog: false,
  }),
  computed: {
    ...mapState('manage/user', [
        'item'
    ]),
  },
  methods: {
    open() {
      this.dialog = !!this.item
    },

    close() {
      this.dialog = false
    }
  }
}
</script>

<style scoped>
 .text-big {
   font-size: 12pt;
 }
.custom-padding{
  padding-left: 4px !important;
  padding-right: 4px !important;
  padding-top: 0 !important;
  padding-bottom: 2px;
}
</style>
