<template>
  <v-card elevation="0">
    <v-card-title>

      <v-spacer></v-spacer>
      <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
      ></v-text-field>
    </v-card-title>

    <v-data-table
        :headers="headers"
        :items="items"
        :loading="loading"
        :page="filter.page"
        :items-per-page="filter.per_page"
        :server-items-length="filter.total"
        :search="search"
        class="elevation-0"
        @update:page="onPaginateClick"
        @update:items-per-page="updateItemsPerPage"
    >
      <template v-slot:item.email="{ item }">
        <v-card-text
            class="px-2 mx-1"
        >
          {{ item.email }}
        </v-card-text>
      </template>

      <template v-slot:item.role="{ item }">
        <div class="d-flex">
          <div
              class="d-flex"
          >
            <div
                v-if="indexEditedItems == item.id"
                class="px-2 pt-4 my-1 "
            >
              <v-select
                  :items="roles"
                  item-text="name"
                  outlined
                  :loading="loading"
                  v-model="editedRoleName"
                  :error-messages="errors.name"
              ></v-select>
            </div>

            <span v-else>
              {{ item.role_name }}
            </span>
          </div>
        </div>
      </template>

      <template v-slot:item.action="{ item }">
        <template v-for="act in actionButton">
          <!--          Detail User Admin-->
          <!--          NORMAL CONDITION-->
          <detail-button
            v-if="$can(userGate.show) && act === 'detail' && !(indexEditedItems != null && indexEditedItems == item.id)"
            :key="`key-action-${act}`"
            :disabled="indexEditedItems != null&& indexEditedItems != item.id"
            @click="itemAction(act, item)"
          ></detail-button>

          <edit-button
            v-if="$can(userGate.edit) && act === 'edit' && !(indexEditedItems != null && indexEditedItems == item.id)"
            :key="`key-action-${act}`"
            :disabled="item.role_id ? indexEditedItems != null && indexEditedItems != item.id : true"
            @click="itemAction(act, item)"
          ></edit-button>

          <delete-button
            v-if="$can(userGate.delete) && act === 'delete' && !(indexEditedItems != null && indexEditedItems == item.id)"
            :key="`key-action-${act}`"
            :disabled="indexEditedItems != null && indexEditedItems != item.id"
            @click="itemAction(act, item)"
          ></delete-button>

<!--          EDITED BUTTON-->
          <save-button
            v-if="act === 'save' && indexEditedItems === item.id"
            :key="`key-action-${act}`"
            :disabled="indexEditedItems != null && indexEditedItems !== item.id"
            @click="itemAction(act, item)"
          ></save-button>

          <cancel-button
            v-if="act === 'cancel' && indexEditedItems === item.id"
            :key="`key-action-${act}`"
            :disabled="indexEditedItems != null && indexEditedItems !== item.id"
            @click="itemAction(act, item)"
          ></cancel-button>

        </template>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import headers from '@/config/tables/manage/user'
import {mapState, mapMutations, mapGetters} from "vuex";
import DetailButton from "@/components/button/DetailButton";
import EditButton from "@/components/button/EditButton";
import DeleteButton from "@/components/button/DeleteButton";
import CancelButton from "@/components/button/CancelButton";
import SaveButton from "@/components/button/SaveButton";
import userGate from "@/config/gate/user";

export default {
  name: "UserTable",
  components: {DetailButton, EditButton, DeleteButton, CancelButton, SaveButton},
  data: () => ({
    headers, userGate,
    actionButton: ['detail','edit', 'delete', 'save', 'cancel'],
    indexEditedItems: null,
    editedRoleName: null,
    search: null,
    dialog: false
  }),
  watch: {
    loading (newValue) {
      this.dialog = newValue
    }
  },
  computed: {
    ...mapState('manage/user', [
      'items',
      'roles',
      'loading',
    ]),
    ...mapState('manage/permission', {permissions: 'items'}),
    ...mapState('notification', ['errors']),
    ...mapGetters('manage/user', [
      'filter'
    ]),
  },
  methods: {
    ...mapMutations('manage/user', ['setFilter']),
    fetchAPI() {
      this.$store.dispatch('manage/user/getItems', {status: 'active'})
      this.$store.dispatch('manage/user/getRoles')
    },
    save (item) {
      let role_id = null
      this.roles.map(data => {
        if(data.name === this.editedRoleName){
          role_id = data.id
        }
      })

      const data = {
        role_id
      }

      this.$store.dispatch('manage/user/update', {
        userId: item.id,
        data
      }).then(() => {
        this.cancel()
        this.fetchAPI()
      })
    },

    cancel (){
      this.indexEditedItems = null
      this.editedRoleName = null
    },

    itemAction(act, item) {
      if(act === 'save'){
        this.save(item)
      }
      else if(act === 'cancel'){
        this.cancel()
      }
      else if(act === 'detail'){
        this.$emit('detailItem', item.id)
      }
      else if (act === 'edit') {
        this.indexEditedItems = item.id
        this.editedRoleName = item.role_name
      } else if (act === 'delete') {
        this.$store.dispatch('onNotificationConfirm',
            {description: "Are you sure delete user ", title: "Delete", button: [
                {text: 'Yes', action: (toast) => {
                    this.deleteItemConfirm(Object.assign({}, item));
                    this.$snotify.remove(toast.id)
                  }, bold: false},
                {text: 'No', action: (toast) => this.$snotify.remove(toast.id)},
              ]}
        )
      }
    },

    deleteItemConfirm(item) {
      this.$store.dispatch('manage/user/delete', item.id)
          .then(() => {
            this.fetchAPI()
          })
    },

    onPaginateClick(page) {
      this.setFilter({
        current_page: page,
      })
      this.fetchAPI()
    },
    updateItemsPerPage(itemsPerPage) {
      this.setFilter({
        per_page: itemsPerPage,
      })
      this.fetchAPI()
    }
  }
}
</script>

<style scoped>
 .text--white{
   color: #FFFFFF;
 }
</style>
