<template>
  <v-dialog
      v-model="dialog"
      max-width="500px"
  >
    <v-card v-if="!loading">
      <v-card-title>
        <span class="headline">{{ renderedTitle }} Device Type</span>
      </v-card-title>

      <v-card-text v-if="item">
        <v-form
            lazy-validation
          ref="form"
        >
          <v-text-field
            label="Type"
            v-model="item.type"
            outlined
            :rules="rules.required('Type')"
            :error-messages="errors.type"
          />

          <v-textarea
              outlined
            label="Description"
            v-model="item.description"
            :error-messages="errors.description"
          ></v-textarea>

          <v-row>
            <v-col
                cols="12"
                sm="12"
            >
              <v-select
                  v-model="parameterCheck"
                  :error-messages="errors.paremeter"
                  :rules="rules.required('Parameter')"
                  :items="parameters"
                  item-text="parameter"
                  item-value="id"
                  clearable
                  outlined
                  dense
                  chips
                  small-chips
                  label="Parameters"
                  multiple
              ></v-select>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            color="blue darken-1"
            text
            @click="close"
        >
          {{renderedAction}}
        </v-btn>
        <v-btn
            color="success"
            @click="save"
        >
          {{ !isEdit ? 'Create' : 'Save'}}
        </v-btn>
      </v-card-actions>
    </v-card>
    <loading-card v-else></loading-card>
  </v-dialog>
</template>

<script>
import { mapState } from 'vuex'
import baseRules from  '@/config/validation/baseRules'
import LoadingCard from "@/components/LoadingCard";

export default {
  name: "DeviceTypeForm",
  data: () => ({
    dialog: false,
    parameterCheck: [],
    item: {
      type: '',
      description: '',
      parameter: [],
    },
    isEdit: false,
    rules: baseRules
  }),
  components: {LoadingCard},
  watch: {
    isEdit () {
      this.filteredParameters()
    }
  },
  mounted() {
    this.$store.dispatch('manage/deviceParam/getItems')
  },
  computed: {
    ...mapState('manage/deviceType', {detilItem: 'detailItem', typeLoading: 'loading'}),
    ...mapState('manage/deviceParam', { parameters: 'items', paramLoading: 'loading'}),
    ...mapState('notification', ['errors']),
    loading() {
      return this.typeLoading && this.paramLoading
    },
    renderedTitle(){
      if(this.isEdit)
        return 'Edit'
      else if(!this.edit && this.item)
        return 'Create'
      return ''
    },
    renderedAction(){
      return this.isEdit ? 'Cancel' : 'Close'
    }
  },
  methods: {
    fetchAPI() {
      this.$store.dispatch('manage/deviceType/getItems', { status: 'active'})
    },

    open(itemId) {
      if (itemId) {
        this.$store.dispatch('manage/deviceType/getDetailItem', itemId)
          .then(res => {
            this.dialog = true
            this.isEdit = true
            this.item = res.data.data
          })
      } else {
        this.isEdit = false
        if (this.$refs.form)
          this.$refs.form.reset()
        this.dialog = true
      }
    },

    filteredParameters(){
      if(this.detailItem){
        const items = this.detailItem.parameters
        const temp = [];
        items.map(data => {
          return temp.push(data.id -1)
        })
        this.parameterCheck = Object.assign([], temp)
      }
    },

    filterDataPush(parameterCheck){
      const arrayRole = parameterCheck
      const temp = []
      arrayRole.map(data => {
        temp.push(this.parameters[data].id)
      })
      return temp
    },

    createItem(data){
      return this.$store.dispatch('manage/deviceType/create', data)
    },

    editItem(data, itemId){
      return this.$store.dispatch('manage/deviceType/update', {
        data,
        deviceTypeId: itemId
      })
    },

    save () {
      if (this.$refs.form.validate()) {
        const data = {
          type: this.item.type,
          description: this.item.description,
          parameter: this.filterDataPush(this.parameterCheck),
        };
        (this.isEdit ?
          this.editItem(data, this.item.id)
          : this.createItem(data))
        .then(() => {
          this.fetchAPI()
          this.close()
        })
      }
    },

    close() {
      this.isEdit = false
      this.parameterCheck = []
      this.dialog = false
    },

    deleteItemConfirm(item) {
      this.$store.dispatch('onNotificationConfirm',
          {
            description: "Are you sure delete device type ", title: "Delete", button: [
              {
                text: 'Yes', action: (toast) => {
                  this.$store.dispatch('manage/deviceType/delete', item.id)
                      .then(this.fetchAPI)
                  this.$snotify.remove(toast.id)
                }, bold: false
              },
              {text: 'No', action: (toast) => this.$snotify.remove(toast.id)},
            ]
          }
      )
    },
  }
}
</script>

<style scoped>

</style>
