<template>
  <v-card elevation="0">
    <v-card-title>
      <v-spacer></v-spacer>
      <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
      ></v-text-field>
    </v-card-title>

    <v-data-table
        :headers="headers"
        :items="items"
        :loading="loading"
        :page="filter.page"
        :items-per-page="filter.per_page"
        :server-items-length="filter.total"
        @update:page="onPaginateClick"
        @update:items-per-page="updateItemsPerPage"
        :search="search"
        item-key="type"
        class="elevation-0"
    >

      <template v-slot:item.action="{ item }">
        <detail-button
            @click="detailItem(item)"
        ></detail-button>

        <edit-button
            @click="editItem(item)"
        ></edit-button>

        <delete-button
            @click="deleteItem(item)"
        >
        </delete-button>
      </template>
    </v-data-table>
  </v-card>

</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex'
import headers from '@/config/tables/manage/deviceType'
import DetailButton from "@/components/button/DetailButton";
import EditButton from "@/components/button/EditButton";
import DeleteButton from "@/components/button/DeleteButton";

export default {
  name: "DeviceTypeTable",
  components: {DetailButton, EditButton, DeleteButton},
  data: () => ({
    search: null,
    headers,
  }),
  computed: {
    ...mapState('manage/deviceType',[
      'items',
      'loading'
    ]),
    ...mapGetters('manage/deviceType',['filter']),
  },
  methods: {
    ...mapMutations('manage/deviceType', ['setFilter']),
    async fetchAPI() {
      await this.$store.dispatch('manage/deviceType/getItems', { status: 'active'})
    },
    onPaginateClick(page) {
      this.setFilter({
        current_page: page,
      })
      this.fetchAPI()
    },
    updateItemsPerPage(itemsPerPage) {
      this.setFilter({
        per_page: itemsPerPage,
      })
      this.fetchAPI()
    },
    detailItem(item){
      this.$emit('detailForm', item)
    },
    editItem(item){
      this.$emit('editForm', item)
    },
    async deleteItem(item){
      await this.$store.dispatch('onNotificationConfirm',
          {
            description: "Are you sure delete device type ", title: "Delete", button: [
              {
                text: 'Yes', action: (toast) => {
                  this.$store.dispatch('manage/deviceType/delete', item.id)
                      .then(this.fetchAPI)
                  this.$snotify.remove(toast.id)
                }, bold: false
              },
              {text: 'No', action: (toast) => this.$snotify.remove(toast.id)},
            ]
          }
      )
    },
  }
}
</script>

<style scoped>

</style>
