<template>
  <v-dialog
      v-model="dialog"
      max-width="500px"
  >
    <v-card  v-if="!loading && detailItem" >
      <v-card-title>
        <span class="headline">Detail Device Type</span>
      </v-card-title>
      <v-list
          flat>
        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-remote</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Type :</v-list-item-subtitle>
            <v-list-item-title  v-text="detailItem.type" class="text-big"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-note-text</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Description :</v-list-item-subtitle>
            <v-list-item-title
                class="text-big"
                v-text="detailItem.description"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-cogs</v-icon>
          </v-list-item-icon>
          <v-list-item-content

          >
            <v-list-item-subtitle
                class="text-big"
            >Parameters :</v-list-item-subtitle>
            <div class="d-flex flex-wrap">
              <div
                  class="col-lg-5 col-md-12 mt-3 custom-padding"
                  v-for="param in detailItem.parameters"
                  :key="param.id"
              >
                <v-list-item-title
                    v-text="param.parameter"></v-list-item-title>
              </div>
            </div>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            color="blue darken-1"
            text
            @click="close"
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
    <v-card
        v-else
        color="white"
    >
      <v-card-text
          class="text-center"
      >
        <p class="font-weight-medium">Please stand by</p>
        <v-progress-circular
            indeterminate
            color="blue"
            class="mb-0"
            :size="80"
            :width="8"
        ></v-progress-circular>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: "DeviceTypeDetail",
  data: () => ({
    dialog: null,
  }),
  computed: {
    ...mapState('manage/deviceType', [
        'detailItem',
        'loading'
    ]),
  },
  methods: {
    open(item) {
      this.dialog = true
      this.$store.dispatch('manage/deviceType/getDetailItem', item.id)
    },
    close() {
      this.dialog = false
    },
  }
}
</script>

<style scoped>

</style>
