<template>
  <v-container
      id="regular-tables"
      fluid
      tag="section"
      class="mb-6 pb-6"
  >
    <base-material-card
        :icon="this.$route.meta.icon || 'mdi-clipboard-text'"
        :title="this.$route.meta.title"
        class="px-5 py-3"
    >

      <student-table
          @editForm="editForm"
          @detailForm="detailForm"
      ></student-table>

      <student-form
          ref="studentForm"
      >
      </student-form>

      <student-detail
          ref="studentDetail"
      ></student-detail>

    </base-material-card>
    <create-button @click="createForm" >
      <template v-slot:title>
        <span>Create Mahasiswa</span>
      </template>
    </create-button>
  </v-container>
</template>

<script>
import StudentTable from '@/fragment/students/StudentTable';
import StudentForm from "../../fragment/students/StudentForm";
import StudentDetail from "../../fragment/students/StudentDetail";
import CreateButton from "../../components/button/CreateButton";

export default {
  components: {StudentTable, StudentForm, StudentDetail,CreateButton},
  data: () => ({
    attrs: {
      class: 'mb-6',
      boilerplate: true,
      elevation: 2,
    },
  }),
  mounted() {
    this.fetchAPI()
  },
  methods: {
    fetchAPI(){
      this.$store.dispatch('student/getItems')
    },
    createForm(){
      this.$refs.studentForm.open(null, false)
    },
    detailForm(item){
      this.$refs.studentDetail.open(item)
    },
    editForm(item){
      this.$refs.studentForm.open(item.id, true)
    }
  }
}
</script>
