<template>
  <v-container
      id="regular-tables"
      fluid
      tag="section"
  >
    <base-material-card
        icon="mdi-clipboard-text"
        :title="this.$route.meta.title"
        class="px-5 py-3"
    >

      <area-table
          @editForm="editForm"
          @detailForm="detailForm"
      ></area-table>

      <area-form
          ref="areaForm"
      >
      </area-form>

      <area-detail
          ref="areaDetail"
      ></area-detail>

    </base-material-card>
    <create-button @click="createForm">
      <template v-slot:title>
        <span>Create Area</span>
      </template>
    </create-button>
  </v-container>
</template>

<script>
export default {
  name: "AreaManagement",
  data: () => ({
    attrs: {
      class: 'mb-6',
      boilerplate: true,
      elevation: 2,
    },
  }),
  mounted() {
    this.fetchAPI()
  },
  components: {
    AreaTable : () => import('@/fragment/area/AreaTable'),
    AreaForm : () => import('@/fragment/area/AreaForm'),
    AreaDetail : () => import('@/fragment/area/AreaDetail'),
    CreateButton : () => import('@/components/button/CreateButton')
  },
  methods: {
    fetchAPI(){
      this.$store.dispatch('area/getItems', { status: 'active'})
    },
    createForm(){
      this.$refs.areaForm.open(null, false)
    },
    detailForm(item){
      this.$refs.areaDetail.open(item.id)
    },
    editForm(item){
      this.$refs.areaForm.open(item.id, true)
    },
  }
}
</script>

<style scoped>

</style>
