<template>
  <v-container
      id="regular-tables"
      fluid
      tag="section"
  >
    <base-material-card
        icon="mdi-clipboard-text"
        :title="this.$route.meta.title"
        class="px-5 py-3"
    >

      <device-table
          @detailItem="detailItem"
          @editForm="editForm"
      ></device-table>

      <device-detail
          ref="deviceDetail"
      >
      </device-detail>
      <device-form
          ref="deviceForm"
      >
      </device-form>

    </base-material-card>
    <create-button
        v-if="filter.query === 'user'"
        @click="createForm">
      <template v-slot:title>
        <span>Create User Device</span>
      </template>
    </create-button>
  </v-container>
</template>

<script>
import { mapState } from "vuex"
export default {
  name: "DeviceManagement",
  data: () => ({
    attrs: {
      class: 'mb-6',
      boilerplate: true,
      elevation: 2,
    },
  }),
  mounted() {
    this.fetchAPI()
  },
  components: {
    DeviceTable : () => import('@/fragment/manage/device/DeviceTable'),
    DeviceForm : () => import('@/fragment/manage/device/DeviceForm'),
    DeviceDetail : () => import('@/fragment/manage/device/DeviceDetail'),
    CreateButton : () => import('@/components/button/CreateButton')
  },
  computed: {
    ...mapState('manage/device', ['filter'])
  },
  methods: {
    fetchAPI(){
      this.$store.dispatch('manage/device/getItems', {query: 'team'})
    },
    editForm(item){
      this.$refs.deviceForm.open(Object.assign({}, item), true)
    },
    detailItem(item){
      this.$refs.deviceDetail.open(Object.assign({}, item), true)
    },
    createForm(){
      this.$refs.deviceForm.open({}, false)
    },
    // createForm(){
    //   const item = {
    //     name: '',
    //     description: '',
    //   }
    //   this.$refs.areaForm.openCreate(Object.assign({}, item), true)
    // },
    // detailForm(item){
    //   this.$refs.areaDetail.open(item.id)
    // },

  }
}
</script>

<style scoped>

</style>
