<template>
  <v-container fill-height fluid class="wrap" style="background-color: #f3f4f5">
    <v-row align="center" justify="center">
      <v-col cols="11" lg="4">
        <v-card class="rounded-0" v-if="loading === 'idle'">
          <v-card-text class="text-center">
            <p>
              <v-icon
                :color="this.status === 200 ? 'green' : 'red'"
                :size="200"
              >
                {{ this.status === 200 ? "mdi-check-underline-circle-outline" : "mdi-close-circle-outline" }}
              </v-icon>
            </p>
            <h3>{{ this.message }}</h3>
            <v-btn color="primary" small @click="backBtn" class="mt-3 mr-0">Back to Dashboard</v-btn>
          </v-card-text>
        </v-card>
        <v-card class="rounded-0" v-else>
          <v-card-text class="text-center">
            <v-progress-circular
              :size="150"
              :width="12"
              indeterminate
              class="ma-5"
              color="primary"
            ></v-progress-circular>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: "EmailVerification",
  data: () => ({
    status: null,
    message: null
  }),
  computed: {
    ...mapState('auth', {loading: 'status'})
  },
  created() {
    let route = this.$route
    this.verif(route.params.userId, route.params.token + "?expires=" + route.query.expires + "&signature=" + route.query.signature)
  },
  methods: {
    verif(userId, token) {
      this.status = this.$store.dispatch('auth/verifyEmail', {userId, token})
        .then(res => {
          this.status = res.status
          this.message = res.data.message
        })
    },
    backBtn() {
      this.$router.push({name: 'dashboard'})
    }
  }
}
</script>

<style scoped>

</style>
