<template>
  <v-container fill-height fluid class="wrap" style="background-color: #f3f4f5">
    <v-row align="center" justify="center" >
      <v-col cols="11" md="4" lg="4">
        <v-card class="rounded-0">
          <v-card-title
              class="flex justify-center pa-5"
          >
            <h3>Forgot Password</h3></v-card-title>
          <v-divider></v-divider>
          <v-card-text
              class="mt-3"
          >
            Please input your email address. We'll send you email
            to reset your password.
          </v-card-text>
          <v-form
              v-model="valid"
              ref="form"
              lazy-validation
              @submit.prevent="onSubmit"
          >
            <v-card-text>
              <v-text-field
                  v-model="email"
                  :rules="emailRules"
                  label="E-mail"
                  required
              ></v-text-field>
            </v-card-text>
            <v-card-actions
                class="d-flex justify-space-around"
            >
              <v-btn
                  v-on:click="goBack"
              >Back</v-btn>
              <v-btn
                  :disabled="!valid"
                  type="submit"
              >Submit</v-btn>
            </v-card-actions>

          </v-form>
        </v-card>
      </v-col>
    </v-row>

    <v-snackbar
        v-model="snackbar"
        :timeout="timeout"
    >
      {{ snackbarText }}

      <template v-slot:action="{ attrs }">
        <v-btn
            color="blue"
            text
            v-bind="attrs"
            @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: "ForgotPassword",
  data: () => ({
    valid: true,
    logging: false,
    email: null,
    snackbar: false,
    snackbarText: 'Please fulfill form with valid answer!',
    timeout: 2000,
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+/.test(v) || 'E-mail must be valid',
    ],
  }),
  methods: {
    ...mapActions('auth', ['forgotPassword']),
    onSubmit() {
      this.logging = true

      const data = {
        email : this.email
      }

      this.forgotPassword(data)
        .then(this.afterForgotPassword)
        .catch(e => {
          this.logging = false
          this.error = e.response.data.message
          this.snackbar = true
          this.snackbarText = this.error
        })
    },

    afterForgotPassword(res) {
      this.logging = false
      const forgotPasswordResponse = res.data
      if (forgotPasswordResponse.data) {
        this.$store.dispatch('onNotificationSuccess', forgotPasswordResponse.message)
        this.$refs.form.reset()
      } else {
        this.error = forgotPasswordResponse.message
        this.snackbar = true
        this.snackbarText = this.error
      }
    },

    goBack() {
      this.$router.back()
    }
  }
}
</script>

<style scoped>

</style>
