<template>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
    @submit.prevent="onSubmit"
  >
    <v-card-text>

      <v-text-field
        v-model="username"
        :rules="rules.email"
        label="E-mail"
        :error-messages="errors.email"
        required
      ></v-text-field>
      <v-text-field
        v-model="password"
        label="Password"
        type="password"
        :rules="rules.required('Password')"
        :error-messages="errors.password"
        required
      ></v-text-field>

    </v-card-text>
    <v-card-actions
        class="d-flex justify-space-around"
    >
      <v-btn
        type="submit"
        :disabled="!valid"
      >Submit</v-btn>

      <v-btn
          class="text--btn"
          text
          elevation="0"
          v-on:click="goToForgotPassword"
      >Forgot Password</v-btn>
    </v-card-actions>
  </v-form>
</template>

<script>
import {mapActions, mapState} from "vuex";
import baseRules from "@/config/validation/baseRules";

export default {
  name: "Login",
  data: () => ({
    valid: true,
    logging: false,
    username: null,
    password: null,
    rules: baseRules,
  }),
  computed: {
    ...mapState('notification', ['errors'])
  },
  methods: {
    ...mapActions('auth', ['getToken']),
    onSubmit () {
      this.logging = true
      const data = { username: this.username, password: this.password, device_name: 'WEB_DASHBOARD' }
      if(this.$refs.form.validate()) {
        this.getToken(data)
          .then(this.afterLogin)
          .catch(e => {
            this.logging = false
            this.error = e
          })
      }
    },
    afterLogin(res) {
      this.logging = false
      const loginRes = res.data
      if (loginRes.data.token) {
        let user = this.$store.getters['account/user']
        this.$store.dispatch('onNotificationSuccess', loginRes.message ?? 'SUCCESS')
        user.is_admin ? this.$router.push({name: 'manage.user'}) : this.$router.push('dashboard')
      } else {
        this.error = loginRes.message
        this.$store.dispatch('onNotificationError', loginRes.message)
      }
    },
    goToForgotPassword () {
      this.$router.push('forgot-password')
    }
  }
}
</script>

<style scoped lang="scss">
.text--btn{
  color: rgb(153, 153, 153)
}
.bg--white{
  background: #FFFFFF !important;
}
</style>
