<template>
<div>
  <v-form
    v-model="valid"
    ref="form"
    lazy-validation
    @submit.prevent="onSubmit"
  >
    <v-card-text>
      <v-text-field
        v-model="form.name"
        :rules="nameRules"
        label="Name"
        :error-messages="errors.name"
        required
      ></v-text-field>
      <v-text-field
        v-model="form.email"
        :rules="emailRules"
        label="E-mail"
        :error-messages="errors.email"
        required
      ></v-text-field>
      <v-text-field
        v-model="form.password"
        :rules="passwordRules"
        label="Password"
        :error-messages="errors.password"
        type="password"
      ></v-text-field>
      <v-text-field
        v-model="form.password_confirmation"
        :rules="confirmPasswordRules.concat(passwordConfirmationRule)"
        label="Confirm Password"
        :error-messages="errors.password_confirmation"
        type="password"
        required
      ></v-text-field>

    </v-card-text>
    <v-card-actions>
      <v-btn
        :disabled="!valid"
        type="submit"
        class="ma-auto"
      >
        Submit
      </v-btn>
    </v-card-actions>

  </v-form>

  <v-snackbar
    v-model="snackbar"
    :timeout="timeout"
  >
    {{ snackbarText }}

    <template v-slot:action="{ attrs }">
      <v-btn
        color="blue"
        text
        v-bind="attrs"
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </template>
  </v-snackbar>
</div>
</template>

<script>
import {mapActions, mapState} from "vuex"

export default {
  name: "Register",
  data: () => ({
    valid: true,
    logging: false,
    form: {
      username: null,
      email: null,
      password: null,
      password_confirmation: null,
    },
    snackbar: false,
    snackbarText: 'Please fulfill form with valid answer!',
    timeout: 2000,

    nameRules: [
        v => !!v || 'Name is required'
    ],
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+/.test(v) || 'E-mail must be valid',
    ],
    passwordRules: [v => !!v || "Password is required"],
    confirmPasswordRules: [v => !!v || "Password is required"]
  }),
  computed: {
    ...mapState('notification', ['errors']),
    passwordConfirmationRule() {
      return () => this.form.password === this.form.password_confirmation || "Password must match";
    }
  },
  methods: {
    ...mapActions('auth', ['register']),
    onSubmit() {
      this.logging = true;

      if(this.$refs.form.validate()) {
        this.form.device_name = "WEB_DASHBOARD"
        this.register(this.form)
          .then(this.afterRegister)
          .catch(e => {
            this.logging = false
            this.error = e.response.data.message
            this.snackbar = true
            this.snackbarText = this.error
          })
      }
    },

    afterRegister(res) {
      this.logging = false
      const registerResponse = res.data
      if(registerResponse.data.token) {
        this.$store.dispatch('onNotificationSuccess', registerResponse.message ?? 'SUCCESS')
        this.$router.push('dashboard')
      } else {
        this.error = registerResponse.message
        this.snackbar = true
        this.snackbarText = this.error
      }
    }
  }
}
</script>

<style scoped lang="scss">
 .bg--white{
   background: #FFFFFF;
 }
</style>
