<template>
  <v-container fill-height fluid class="wrap" style="background-color: #f3f4f5">
    <v-row align="center" justify="center" >
      <v-col cols="11" md="4" lg="4">
        <v-card class="rounded-0">
          <v-card-title
              class="flex justify-center pa-5"
          >
            <h3>Reset Password</h3></v-card-title>
          <v-divider></v-divider>
          <v-card-text
              class="mt-3"
          >
            Change your password
          </v-card-text>
          <v-form
              v-model="valid"
              lazy-validation
              @submit.prevent="onSubmit"
          >
            <v-card-text>
              <v-text-field
                  v-model="form.password"
                  :rules="passwordRules"
                  label="Password"
                  type="password"
                  required
              ></v-text-field>
              <v-text-field
                v-model="form.password_confirmation"
                :rules="passwordRules"
                label="Password Confirmation"
                type="password"
                required
              ></v-text-field>
            </v-card-text>

            <v-card-actions
                class="d-flex justify-space-around"
            >
              <v-btn
                :disabled="!valid"
                type="submit"
              >Submit</v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-col>
    </v-row>

    <v-snackbar
        v-model="snackbar"
        :timeout="timeout"
    >
      {{ snackbarText }}

      <template v-slot:action="{ attrs }">
        <v-btn
            color="blue"
            text
            v-bind="attrs"
            @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: "ForgotPassword",
  data: () => ({
    valid: true,
    logging: false,
    form: {
      password: null,
      password_confirmation: null,
    },
    snackbar: false,
    snackbarText: 'Please fulfill form with valid answer!',
    timeout: 2000,
    passwordRules: [
      v => !!v || 'This field is required',
      v => String(v).length >= 8 || 'The password must be at least 8 characters.',
    ],
  }),
  mounted() {
    if (!Object.prototype.hasOwnProperty.call(this.$route.query, 'token')
      || !Object.prototype.hasOwnProperty.call(this.$route.query, 'email')) {
      this.$router.push('forgot-password')
    } else {
      this.form.token = this.$route.query.token
      this.form.email = this.$route.query.email
    }
  },
  methods: {
    ...mapActions('auth', ['resetPassword']),
    onSubmit() {
      this.logging = true
      this.resetPassword(this.form)
        .then(this.afterResetPassword)
        .catch(e => {
          this.logging = false
          this.error = e.response.data.message
          this.snackbar = true
          this.snackbarText = this.error
        })
    },

    afterResetPassword(res) {
      this.logging = false
      const response = res.data
      if (response) {
        this.$store.dispatch('onNotificationSuccess', response.message)
        this.$router.push('login')
      } else {
        this.snackbar = true
        this.snackbarText = response.message
      }
    },

    goBack() {
      this.$router.back()
    }
  }
}
</script>

<style scoped>

</style>
