<template>
  <v-container fill-height fluid class="wrap">
    <v-row justify="center">
      <v-col cols="11" md="6">
        <team-table
          ref="teamTable"
          @onEdit="editTeam"
          @deleted="afterDelete"
        ></team-table>
      </v-col>
      <v-col cols="11" md="6">
        <current-team></current-team>
      </v-col>
    </v-row>
    <team-form ref="teamForm" @submitted="afterSubmit"></team-form>
    <create-button @click="createTeam">
      <template v-slot:title>
        <span>Create Team</span>
      </template>
    </create-button>
  </v-container>
</template>

<script>
import {mapState} from "vuex";
import TeamTable from "@/fragment/team/TeamTable";
import TeamForm from "@/fragment/team/TeamForm";
import CreateButton from "@/components/button/CreateButton";
import CurrentTeam from "@/fragment/team/CurrentTeam";
export default {
  name: "Teams",
  components: {TeamTable, TeamForm, CurrentTeam, CreateButton},
  computed: {
    ...mapState('team', ['loading'])
  },
  methods: {
    editTeam(teamId) {
      this.$refs.teamForm.updateForm(teamId)
    },
    createTeam() {
      this.$refs.teamForm.onCreateForm()
    },
    fetchTeam() {
      this.$store.dispatch('team/getItems')
    },
    afterSubmit() {
      this.fetchTeam()
    },
    afterDelete() {
      this.fetchTeam()
    }
  }
}
</script>

<style scoped>

</style>