<template>
  <v-card
    class="rounded-0"
    :loading="loading"
  >
    <v-card-text v-if="item === null" class="text-center">
      <p>
        <v-icon
          color="red"
          :size="200"
        >
          {{ "mdi-close-circle-outline" }}
        </v-icon>
      </p>
      <h3>Invitation Not Found</h3>
    </v-card-text>
    <div v-else>
      <v-card-title>
        Team Invitation
      </v-card-title>
      <v-card-text>
        You are invited to team :
        <ul class="mt-2">
          <li>Team Name : {{ item.team.name }}</li>
          <li>Owner Team : {{ item.team.author.name }} ({{ item.team.author.email }})</li>
        </ul>
      </v-card-text>
      <v-card-actions>
        <v-btn
          color="success"
          @click="accept"
        >
          Accept
        </v-btn>
        <v-btn
          color="grey"
          @click="decline"
        >
          Decline
        </v-btn>
      </v-card-actions>
    </div>
  </v-card>
</template>

<script>
import {mapState} from "vuex";

export default {
  name: "TeamInvitation",
  mounted() {
    this.fetchInvitation()
  },
  computed: {
    ...mapState('team/member', ['loading', 'item'])
  },
  methods: {
    fetchInvitation() {
      this.$store.dispatch('team/member/showInvitationDetail', {invitationId: this.$route.params.id})
    },
    accept() {
      this.$store.dispatch('team/member/acceptInvitation', this.item.url)
        .then(() => this.$router.push({name: 'team.list'}))
    },
    decline() {
      this.$store.dispatch('onNotificationWarning', "Nothing to do, feature under progress")
    }
  }
}
</script>

<style scoped>

</style>
