<template>
  <div>
    <loading-card v-if="loading"></loading-card>
    <base-material-card v-else-if="current" color="grey darken-1">
      <template v-slot:heading>
        <div class="display-2">
          {{ current.name }}
        </div>

        <div class="subtitle-1 font-weight-light">
          {{ current.author.name }}
        </div>
      </template>
      <v-card-text>
        <h3 class="mb-4">Devices</h3>
<!--        <v-expansion-panels focusable flat>-->
<!--          <v-expansion-panel-->
<!--            v-for="device in current.device"-->
<!--            :key="device.name"-->
<!--          >-->
<!--            <v-expansion-panel-header>{{ device.name }}</v-expansion-panel-header>-->
<!--            <v-expansion-panel-content class="pt-2">-->
<!--              <h3>Description</h3>-->
<!--              <p>{{ device.description }}</p>-->
<!--              <h3>Endpoint</h3>-->
<!--              <p>{{ device.endpoint_url }}</p>-->
<!--            </v-expansion-panel-content>-->
<!--          </v-expansion-panel>-->
<!--        </v-expansion-panels>-->
        <v-list>
          <v-list-group
            v-for="device in current.device"
            :key="device.name"
            v-model="deviceActive"
            :prepend-icon="device.action"
            no-action
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title v-text="device.name"></v-list-item-title>
              </v-list-item-content>
              <v-list-item-action class="d-inline" v-if="user.current_team_role !== 'viewer'">
                <start-button v-show="!device.is_active"></start-button>
                <stop-button v-show="device.is_active"></stop-button>
                <edit-button></edit-button>
              </v-list-item-action>
            </template>

            <v-list-item>
              <v-list-item-icon>
                <v-icon >mdi-card-text</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title v-text="'Description'"></v-list-item-title>
                <v-list-item-subtitle>{{ device.description }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-icon>
                <v-icon >mdi-broadcast</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title v-text="'Endpoint Url'"></v-list-item-title>
                <v-list-item-subtitle>{{ device.endpoint_url }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-icon>
                <v-icon >mdi-cellphone-link</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title v-text="'IP Address'"></v-list-item-title>
                <v-list-item-subtitle>{{ device.ip_address }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-icon>
                <v-icon >mdi-cellphone-link</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title v-text="'Status'"></v-list-item-title>
                <v-list-item-subtitle><span :class="device.is_active ? 'success--text' : 'danger--text'">{{ device.is_active ? "Active" : "Inactive" }}</span> <br> Interval : {{ device.interval }}/s</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
        </v-list>
      </v-card-text>
    </base-material-card>
  </div>
</template>

<script>
import LoadingCard from "@/components/LoadingCard";
import {mapState} from "vuex";
import EditButton from "@/components/button/EditButton";
import StartButton from "@/components/button/StartButton";
import StopButton from "@/components/button/StopButton";

export default {
  name: "CurrentTeam",
  components: {LoadingCard, EditButton, StartButton, StopButton},
  data: () => ({
    deviceActive: null
  }),
  computed: {
    ...mapState('team', ['loading', 'current']),
    ...mapState('account', ['user'])
  },
  mounted() {
    this.fetchAPI(this.user.current_team_id)
  },
  methods: {
    fetchAPI(currentTeam) {
      this.$store.dispatch('team/current', currentTeam)
    }
  }
}
</script>

<style scoped>
.v-application--is-ltr .v-list-group--no-action > .v-list-group__items > .v-list-item {
  padding-left: 40px;
}
</style>