<template>
 <v-dialog
   v-model="dialog"
   max-width="500px"
 >
   <loading-card v-if="loading"></loading-card>
   <v-card v-else>
     <v-card-title>
       {{ titleForm }}
     </v-card-title>
       <v-card-text>
         <v-form
           ref="form"
           v-model="valid"
           lazy-validation
           class="mt-3"
           :class="isEdit ? 'd-flex' : ''"
           id="team-update"
           @submit.prevent="onSubmit"
         >
           <v-text-field
             v-model="form.name"
             :rules="rules.teamName"
             :error-messages="errors.name"
             label="Team Name"
             class="mr-3"
             outlined
             required
           ></v-text-field>
           <v-btn
             v-if="!isEdit ? $can(teamGate.create) : true"
             color="green"
             type="submit"
             :disabled="!valid"
           >
             {{ isEdit ? 'Update Name' : 'Create' }}
           </v-btn>
         </v-form>

         <div v-if="isEdit">
           <h5 class="mb-3">Members</h5>
           <v-form
             ref="memberForm"
             v-model="member.valid"
             lazy-validation
             @submit.prevent="addMemberItem"
             v-for="(member, index) in form.members"
             :key="index"
           >
           <v-row>
             <v-col cols="5">
               <v-text-field
                 v-model="member.email"
                 :rules="rules.email.concat(uniqueMember)"
                 :error-messages="errors.email"
                 label="Member Email"
                 outlined
                 required
                 has-feedback
                 v-if="!member.hasOwnProperty('is_accepted')"
               ></v-text-field>
               <p class="mt-3" v-else>
                 <v-tooltip bottom v-if="member.is_accepted">
                   <template v-slot:activator="{ on, attrs }" >
                     <v-icon color="green" v-bind="attrs" v-on="on">mdi-check</v-icon>
                   </template>
                   <span>Accepted</span>
                 </v-tooltip>
                 <v-tooltip bottom v-else>
                   <template v-slot:activator="{ on, attrs }" >
                     <v-icon color="amber" v-bind="attrs" v-on="on">mdi-alert-circle-outline</v-icon>
                   </template>
                   <span>Pending</span>
                 </v-tooltip>
                 {{ member.email }}
               </p>
             </v-col>
             <v-col cols="4">
               <v-select
                 v-if="member.role || (!member.hasOwnProperty('is_accepted') && !member.role)"
                 v-model="member.role"
                 :rules="rules.required('Member role')"
                 label="Role"
                 :items="roles"
                 outlined
                 required
                 @change="updateRole(member)"
               ></v-select>
             </v-col>
             <v-col cols="3">
               <v-btn
                 v-if="!member.hasOwnProperty('is_accepted')"
                 :loading="loadingMember"
                 color="green"
                 small
                 fab
                 elevation="0"
                 :style="{marginLeft: '-10px', marginTop: '5px'}"
                 @click="addMemberItem(index)"
               >
                 <v-icon dark>
                   mdi-content-save
                 </v-icon>
               </v-btn>
               <v-btn
                 color="danger"
                 :loading="loadingMember"
                 small
                 fab
                 elevation="0"
                 :style="{marginLeft: '-10px', marginTop: '5px'}"
                 @click="deleteMemberItem(index)"
               >
                 <v-icon dark>
                   mdi-delete
                 </v-icon>
               </v-btn>
             </v-col>
           </v-row>
           </v-form>
         </div>
         <v-btn
           small
           color="blue"
           @click="addMember"
           v-if="isEdit"
         >
           Add Member
         </v-btn>
       </v-card-text>
   </v-card>
 </v-dialog>
</template>

<script>
import rules from "@/config/validation/baseRules";
import {mapState} from "vuex";
import teamGate from "@/config/gate/team"
import LoadingCard from "@/components/LoadingCard";
export default {
  name: "TeamForm",
  data: () => ({
    rules, teamGate,
    isEdit: false,
    valid: true,
    dialog: false,
    form: {
      name: null,
      members: []
    },
    roles: [
      {
        value: 'viewer',
        text: "Viewer"
      },
      {
        value: 'editor',
        text: "Editor"
      },
    ]
  }),
  components: {LoadingCard},
  computed: {
    ...mapState('team', ['loading', 'item']),
    ...mapState('team/member', {loadingMember: 'loading'}),
    ...mapState('notification', ['errors']),
    titleForm() {
      return this.isEdit ? "Change Team Data" : "Create Team"
    },
    uniqueMember() {
      let memberValue = this.form.members.map(function(item){ return item.email ? item.email.replace(/\s/g, '') : item.email });
      return !memberValue.some(function(item, idx){
        return memberValue.indexOf(item) !== idx
      }) || 'Users member should be unique';
    }
  },
  methods: {
    onCreateForm() {
      if (this.$refs.form)
        this.$refs.form.reset()
      this.isEdit = false
      delete this.form.id
      delete this.form.members
      this.dialog = true
    },
    updateForm(teamId) {
      this.dialog = true
      this.$store.dispatch('team/detail', teamId)
        .then(res => {
          let team = res.data.data
          if (team) {
            this.isEdit = true
            this.form.id = team.id
            this.form.name = team.name
            this.form.members = team.users.map(user => {
              let object = {
                id: user.id,
                email: user.email,
                is_accepted: user.is_accepted,
                role: Object.prototype.hasOwnProperty.call(user, 'pivot') ? user.pivot.role : null
              }
              if (!user.is_accepted)
                object.invitation_id = user.invitation_id
              return object
            })
          }
        })
        .catch(() => {
          this.dialog = false
        })
    },
    updateRole(member) {
      if (member.is_accepted) {
        this.$store.dispatch('team/member/updateRoleMember', {
          teamId: this.form.id,
          userId: member.id,
          data: {role: member.role}
        }).then(() => {this.$emit('memberUpdate')})
      }
    },
    deleteMemberItem(index) {
      let member = this.form.members[index]
      if (Object.prototype.hasOwnProperty.call(member, 'is_accepted')) {
        if (member.is_accepted) {
          this.$store.dispatch('team/member/deleteMember')
            .then(() => {this.$emit('memberUpdate')})
        } else {
          this.$store.dispatch('team/member/deleteInviteMember', member.invitation_id)
            .then(() => {this.$emit('memberUpdate')})
        }
      } else {
        this.form.members.splice(index, 1)
      }
    },
    addMemberItem(index) {
      if (this.$refs.memberForm[index].validate()) {
        this.$store.dispatch('team/member/inviteMember', {teamId: this.form.id, data: this.form.members[index]})
          .then(() => this.updateForm(this.form.id))
      }
    },
    addMember()  {
      let formMember = {
        email: null,
        role: null,
        valid: true,
      }
      this.form.members.push(formMember)
    },
    onSubmit: function () {
      if (this.$refs.form.validate()) {
        this.$store.dispatch(this.isEdit ? 'team/update' : 'team/create',
          this.isEdit ? {teamId: this.form.id, data: this.form} : this.form)
          .then(() => {
            if (!this.isEdit) {
              this.form.members = []
              this.form.name = ''
            } else {
              this.updateForm(this.form.id)
            }
            this.$emit('submitted')
          })
      }
    }
  }
}
</script>

<style scoped>

</style>
