<template>
  <div>
    <base-material-card
      icon="mdi-clipboard-text"
      title="Team Table"
    >
      <v-card-text>
<!--        <v-row>-->
<!--          <v-col>-->
<!--            <v-switch-->
<!--              v-model="status"-->
<!--              inset-->
<!--              :label="status ? 'Active' : 'Inactive'"-->
<!--            ></v-switch>-->
<!--          </v-col>-->
<!--        </v-row>-->
        <v-data-table
          :headers="headers"
          :items="items"
          :loading="loading"
          :page="filter.page"
          :items-per-page="filter.per_page"
          :server-items-length="filter.total"
          @update:page="onPaginateClick"
        >
          <template v-slot:item.members="{ item }" >
            <div class="my-3">
              <div v-for="member in item.members" :key="member" class="mr-3">
                <v-chip
                  color="primary"
                >
                  {{ member }}
                </v-chip>
              </div>
            </div>
          </template>
          <template v-slot:item.actions="{ item }">
<!--            <detail-button @click="detailItem(item)"></detail-button>-->
            <v-icon
              v-if="item.id === user.current_team_id"
              class="mr-2"
              color="green"
            >
              mdi-toggle-switch
            </v-icon>
            <v-icon
              v-else
              class="mr-2"
              color="amber"
              @click="switchTeam(item)"
            >
              mdi-toggle-switch-off-outline
            </v-icon>
            <v-icon
              v-if="item.user_id === user.id"
              small
              class="mr-2"
              @click="editItem(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              v-if="!item.personal_team && item.user_id === user.id"
              color="danger"
              small
              @click="deleteItem(item)"
            >
              mdi-delete
            </v-icon>
          </template>
          <template v-slot:no-data>
            <h1 class="mt-5">No Data</h1>
            <v-btn
              small
              color="primary"
              @click="fetchItems"
              class="my-3"
            >
              Reload
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
    </base-material-card>
  </div>
</template>

<script>
import teamTable from "@/config/tables/team";
import {mapGetters, mapMutations, mapState} from "vuex";
export default {
  name: "TeamTable",
  data: () => ({
    headers: teamTable,
    status: true
  }),
  computed: {
    ...mapState('team', ['items','loading']),
    ...mapState('account', ['user']),
    ...mapGetters('team', ['filter']),
  },
  watch: {
    status (newVal) {
      this.setFilter({status: newVal ? 'active' : 'inactive'})
      this.fetchItems()
    }
  },
  mounted() {
    this.fetchItems()
  },
  methods: {
    ...mapMutations('team', ['setFilter']),
    fetchItems() {
      this.$store.dispatch('team/getItems')
    },
    async editItem(item) {
      this.$emit('onEdit', item.id)
    },
    // detailItem(item) {
    //   this.$store.dispatch('team/detail', item.id)
    // },
    deleteItem(item) {
      this.$store.dispatch('team/delete', item.id)
        .then(() => {
          this.$emit('deleted')
        })
    },
    switchTeam(item) {
      this.$store.dispatch('team/switch', item.id)
        .then(() => {
          this.$store.dispatch('account/fetchUserProfile')
          this.$emit('onSwitch')
        })
    },
    onPaginateClick(page) {
      this.setFilter({
        current_page: page,
      })
      this.fetchItems()
    }
  }
}
</script>

<style scoped>

</style>