<template>
  <v-container
    id="dashboard"
    fluid
    tag="section"
    class="bg-gray"
  >
    <v-row>

      <v-col
        cols="12"
        sm="6"
        lg="4"
      >
        <base-material-stats-card
          color="primary"
          icon="mdi-school"
          title="Students"
          :value="student.total"
          sub-icon="mdi-clock"
          sub-text="Students Final Project"
        />
      </v-col>

      <v-col
        cols="12"
        sm="6"
        lg="4"
      >
        <base-material-stats-card
          color="blueShade"
          icon="mdi-account"
          title="Lecturer"
          :value="lecturer.total"
          sub-icon="mdi-tag"
          sub-text="Lecturer Final Project"
        />
      </v-col>

      <v-col
        cols="12"
        sm="6"
        lg="4"
      >
        <base-material-stats-card
          color="warning"
          icon="mdi-google-classroom "
          title="Room"
          :value="room.total"
          sub-icon="mdi-calendar"
          sub-text="Room Final Project"
        />
      </v-col>

      <v-col
      cols = "12"
      md = "12"
      >
        <dashboard-carousel></dashboard-carousel>
      </v-col>

      <v-col
          cols="12"
          md="12"
      >
        <schedule-table></schedule-table>
      </v-col>

    </v-row>
  </v-container>
</template>

<script>
  import ScheduleTable from "@/fragment/dashboard/ScheduleAdminTable";
  import DashboardCarousel from "@/fragment/dashboard/DashboardCarousel";
  import Vue from "vue";

  export default {
    name: 'DashboardDashboard',

    components: {ScheduleTable, DashboardCarousel},
    data () {
      return {
        lecturer: {
          total : "0"
        },
        student: {
          total : "0"
        },
        room : {
          total : "0"
        }
      }
    },

    mounted () {
      this.fetchAPI()
    },

    methods: {
      complete (index) {
        this.list[index] = !this.list[index]
      },
      async fetchAPI () {
        try {
          const response = await Vue.axios.get(Vue.api('jadwal.total-attendance'))
          console.log(response)
          this.lecturer.total = response.data.data.dosen_total
          this.student.total = response.data.data.student_total
          this.room.total = response.data.data.room_total
        } catch (e) {
          await this.$store.dispatch('onNotificationError', 'Something not right', {root: true})
          console.log(e)
        }
      }
    },
  }
</script>
