<template>
  <v-container
      class="wrap"
      fill-height
      fluid
  >
    <!--      <schedule-form-->
    <!--          ref="scheduleForm">-->
    <!--      </schedule-form>-->

    <schedule-detail
        ref="roomDetail"></schedule-detail>

    <v-row justify="center">
      <v-col cols="11" md="6">
        <schedule-table
            ref="roomTable"
            @onSwitch="switchRoom"
            @deleted="onDeleted"
        ></schedule-table>
      </v-col>
      <v-col cols="11" md="6">
      </v-col>
    </v-row>
    <create-button @click="createForm">
      <template v-slot:title>
        <span>Create Room</span>
      </template>
    </create-button>
  </v-container>
</template>

<script>
import ScheduleDetail from "@/fragment/schedule/ScheduleDetail";
import ScheduleTable from "@/fragment/schedule/ScheduleTable";
import CreateButton from "@/components/button/CreateButton";
export default {
  name: "RoomManagement",
  components: {ScheduleDetail, ScheduleTable, CreateButton},
  computed: {

  },
  methods: {
    fetchAPI(){
      this.$store.dispatch('onNotificationSuccess', 'SUCCESS FETCH API', { root: true})
    },
    createForm() {

    },
    onDeleted(){
      this.fetchAPI()
    },
    detailForm(item){
      this.$refs.scheduleDetail.open(Object.assign({}, item))
    },
    switchRoom(item){
      console.log(item)
    }
  }
}
</script>

<style scoped>

</style>
