<template>
  <v-dialog
      v-model="dialog"
      max-width="100%"
  >
    <v-card  v-if="!loading">
      <v-card-title>
        <span class="headline">New Schedule</span>
      </v-card-title>

      <v-form
          lazy-validation
          ref="form"
          @submit.prevent="save"
      >
        <v-card-text>
          <v-text-field
              label="Name"
              :rules="rules.name"
              outlined
              v-model="item.name"
          />

          <v-textarea
              label="Description"
              outlined
              v-model="item.description"
          />
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              color="blue darken-1"
              text
              @click="close"
          >
            Cancel
          </v-btn>
          <v-btn
              color="success"
              type="submit"
          >
            Create
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
    <loading-card v-else></loading-card>
  </v-dialog>
</template>

<script>
import LoadingCard from "@/components/LoadingCard";
import rules from "@/config/validation/baseRules";

export default {
  name: "ScheduleNew",
  data: () => ({
    item : null,
    loading: false,
    dialog: false,
    rules
  }),
  components: {LoadingCard},
  methods: {
    open(item) {
      this.item = item
      this.dialog = true
    },
    close(){
      this.dialog = false
    },
    save(){

    }
  }
}
</script>

<style scoped>

</style>
