<template>
  <v-dialog
      v-model="dialog"
      max-width="500px"
  >
    <v-card v-if="!loading" >
      <v-card-title>
        <span class="headline">Detail Schedule</span>
      </v-card-title>
      <v-list
          v-if="detailItem"
          class="px-4"
          flat>
        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-account-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Name :</v-list-item-subtitle>
            <v-list-item-title  v-text="detailItem.name" class="text-big"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-format-list-bulleted</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Category :</v-list-item-subtitle>
            <v-list-item-title
                class="text-big"
                v-text="detailItem.category"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-google-classroom </v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Room :</v-list-item-subtitle>
            <v-list-item-title
                class="text-big"
                v-text="detailItem.room"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-calendar </v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Date :</v-list-item-subtitle>
            <v-list-item-title
                class="text-big"
                v-text="detailItem.date"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

      </v-list>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            color="blue darken-1"
            text
            @click="close"
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
    <loading-card v-else></loading-card>
  </v-dialog>
</template>

<script>
import LoadingCard from "@/components/LoadingCard";
import {mapState} from "vuex";
export default {
  name: "ScheduleDetail",
  components : {LoadingCard},
  data: () => ({
    dialog: false,
    detailItem: {}
  }),
  computed: {
    ...mapState('schedule',[
        'loading'
    ])
  },
  methods: {
    open(item) {
      this.dialog = true
      this.detailItem = item
    },
    close() {
      this.dialog = false
    },
  }
}
</script>

<style scoped>

</style>
