<template>
  <v-dialog
      v-model="dialog"
      max-width="500px"
      @click:outside="close"
  >
    <v-card  v-if="!loading">
      <v-card-title>
        <span class="headline">{{ renderedTitle }} Dosen</span>
      </v-card-title>

      <v-form
          v-model="valid"
          lazy-validation
          ref="form"
          @submit.prevent="save"
      >
        <v-card-text>
          <v-text-field
              label="Nama"
              :rules="rules.required('Nama')"
              :error-messages="errors.name"
              outlined
              v-model="item.name"
          />

          <v-text-field
              label="NRP"
              :rules="rules.number('NIP')"
              :error-messages="errors.nip"
              outlined
              v-model="item.nip"
          />
          <v-text-field
              label="Email"
              :rules="rules.email"
              :error-messages="errors.email"
              outlined
              v-model="item.email"
          />
          <v-text-field
              label="Bidang Keahlian"
              :rules="rules.required('bidang keahlian')"
              :error-messages="errors.bidangKeahlian"
              outlined
              v-model="item.bidangKeahlian.name"
          />
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              color="blue darken-1"
              text
              @click="close"
          >
            {{renderedAction}}
          </v-btn>
          <v-btn
              color="success"
              type="submit"
              :disabled="!valid"
          >
            {{ !isEdit ? 'Create' : 'Save'}}
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
    <loading-card v-else></loading-card>
  </v-dialog>
</template>

<script>
import rules from "../../config/validation/baseRules";
import LoadingCard from "../../components/LoadingCard";
import {mapState} from "vuex";

export default {
  name: "LecturerForm",
  data: () => ({
    rules,
    valid: true,
    item : {
      name: null,
      nip: null,
      email: null,
      bidangKeahlian : null
    },
    dialog: false,
    isEdit: false
  }),
  components: {LoadingCard},
  computed: {
    ...mapState('lecturer',['detailItem', 'loading']),
    ...mapState('notification', ['errors']),
    renderedTitle(){
      if(this.isEdit)
        return 'Edit'
      else if(!this.edit && this.item)
        return 'Buat'
      return ''
    },
    renderedAction(){
      return this.isEdit ? 'Batal' : 'Tutup'
    }
  },
  methods: {
    fetchAPI() {
      return this.$store.dispatch('lecturer/getItems')
    },

    open(itemId, isEdit){
      this.$store.commit('lecturer/setLoading', false)
      this.dialog = true
      this.isEdit = isEdit
      if (this.$refs.form)
        this.$refs.form.reset()
      if (isEdit && itemId) {
        this.$store.dispatch('lecturer/getDetailItem', itemId)
            .then(() => this.item = Object.assign({}, this.detailItem))
      } else {
        this.item = {
          name: null,
          nip: null,
          email: null,
          bidangKeahlian : null
        }
      }
    },

    createItem(){
      const data = {...this.item}

      return this.$store.dispatch('lecturer/create', data)
    },

    editItem(){
      const data = {...this.item}

      return this.$store.dispatch('lecturer/update', {
        data,
        dosenId : this.item.id
      })
    },

    save(){
      if(this.$refs.form.validate()){
        (this.isEdit
            ? this.editItem()
            : this.createItem())
            .then(() => {
              this.fetchAPI()
              this.close()
            })
      }
    },

    close(){
      this.isEdit = null
      this.dialog = false
    }
  }
}
</script>

<style scoped>

</style>
