<template>
  <v-dialog
      v-model="dialog"
      max-width="600px"
  >
    <v-card v-if="!loading" >
      <v-card-title>
        <span class="headline">Input Lecturer</span>
      </v-card-title>
      <v-list
          v-if="createItem"
          class="px-4"
          flat>
        <v-list-item>
            <v-col cols="12">
                <v-text-field
                  label="Name"
                  required
                ></v-text-field>
              </v-col>
        </v-list-item>

        <v-list-item>
            <v-col
                cols="12"
                sm="6"
                md="6"
              >
                <v-text-field
                  label="NIP"
                  required
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                sm="6"
                md="6"
              >
                <v-text-field
                  label="Category"
                ></v-text-field>
              </v-col>
        </v-list-item>

      </v-list>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            color="blue darken-1"
            text
            @click="close"
        >
          Close
        </v-btn>
        <v-btn
            color="blue darken-1"
            depressed
            @click="dialog = false"
          >
            Save
          </v-btn>
      </v-card-actions>
    </v-card>
    <loading-card v-else></loading-card>
  </v-dialog>
</template>

<script>
import LoadingCard from "@/components/LoadingCard";
import {mapState} from "vuex";
export default {
  name: "LecturerCreate",
  components : {LoadingCard},
  data: () => ({
    dialog: false,
    createItem: {}
  }),
  computed: {
    ...mapState('lecturer',[
        'loading'
    ])
  },
  
  methods: {
    open(item) {
      this.dialog = true
      this.createItem = item
    },
    close() {
      this.dialog = false
    },
    save() {
      this.dialog = true
    }
  }
}
</script>

<style scoped>

</style>