<template>
  <v-dialog
      v-model="dialog"
      max-width="500px"
  >
    <v-card v-if="!loading" >
      <v-card-title>
        <span class="headline">Detail Mahasiswa</span>
      </v-card-title>
      <v-list
          v-if="detailItem"
          class="px-4"
          flat>
        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-account-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Nama :</v-list-item-subtitle>
            <v-list-item-title  v-text="detailItem.name" class="text-big"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <!-- <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-google-classroom</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Room :</v-list-item-subtitle>
            <v-list-item-title
                class="text-big">{{detailItem.room_id !== null ? detailItem.room_id : Math.floor(Math.random() * 10)}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-clipboard-list </v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Sesi :</v-list-item-subtitle>
            <v-list-item-title
                class="text-big">{{detailItem.sesi_id !== null ? detailItem.sesi_id : Math.floor(Math.random() * 10)}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item> -->

        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-card-account-details-outline </v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >NRP :</v-list-item-subtitle>
            <v-list-item-title
                class="text-big"
                v-text="detailItem.nrp"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        
        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-book </v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Judul PA :</v-list-item-subtitle>
            <v-list-item-title
                class="text-big"
                v-text="detailItem.judul"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-email </v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Email :</v-list-item-subtitle>
            <v-list-item-title
                class="text-big"
                v-text="detailItem.email"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

      </v-list>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            color="blue darken-1"
            text
            @click="close"
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
    <loading-card v-else></loading-card>
  </v-dialog>
</template>

<script>
import LoadingCard from "@/components/LoadingCard";
import {mapState} from "vuex";
export default {
  name: "StudentDetail",
  components : {LoadingCard},
  data: () => ({
    dialog: false,
  }),
  computed: {
    ...mapState('student',[
        'loading',
        'detailItem'
    ])
  },
  methods: {
    open(item) {
      this.dialog = true
      this.$store.dispatch('student/getDetailItem',item.id)
    },
    close() {
      this.dialog = false
    },
  }
}
</script>

<style scoped>

</style>
