<template>
  <v-row justify="right">
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <v-card v-if="!loading">
        <v-card-title>
          <span class="headline">Data Mahasiswa</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col
                cols="12"
                sm="6"
                md="6"
              >
                <v-text-field
                  label="Nama*"
                  required
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                sm="6"
                md="6"
              >
                <v-text-field
                  label="NRP*"
                  hint="*required"
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                sm="6"
                md="6"
              >
                <v-text-field
                  label="Judul*"
                  hint="*required"
                  required
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                sm="6"
              >
                <v-select
                  :items="['RPL', 'Database', 'IoT', 'Website']"
                  label="Kategori*"
                  required
                ></v-select>
              </v-col>
              <v-col 
                cols="12"
                sm="6"
                md="6"
              >
                <v-text-field
                  label="Dosen Pembimbing 1*"
                  required
                ></v-text-field>
              </v-col>
              <v-col 
                cols="12"
                sm="6"
                md="6"
              >
                <v-text-field
                  label="Dosen Pembimbing 2*"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
      <loading-card v-else></loading-card>
    </v-dialog>
  </v-row>
</template>

<script>
import LoadingCard from "@/components/LoadingCard";
import {mapState} from "vuex";
  export default {
    name: "StudentInput",
    components : {LoadingCard},
    data: () => ({
      dialog: false,
      createItem: {}
    }),
    computed: {
    ...mapState('student',[
        'loading'
    ])
  },
  methods: {
    open(item) {
      this.dialog = true
      this.createItem = item
    },
    close() {
      this.dialog = false
    },
  }
  }
</script>

<style scoped>

</style>