<template>
  <v-container
      class="regular-tables"
      fill
      fluid
  >
    <schedule-detail ref="scheduleDetail"></schedule-detail>
    <base-material-card
        :icon="this.$route.meta.icon"
        title="Info Schedule"
        class="px-5 py-3"
    >
      <schedule-table
          :data-table="items"
          @itemDetail="onDetail"
      >
      </schedule-table>
      <schedule-new
          ref="scheduleNew"
      ></schedule-new>
    </base-material-card>
    <create-button @click="createForm">
      <template v-slot:title>
        <span>Create Schedule</span>
      </template>
    </create-button>
  </v-container>
</template>

<script>
import ScheduleTable from "@/fragment/schedule/ScheduleTable";
import ScheduleDetail from "@/fragment/schedule/ScheduleDetail";
import CreateButton from "@/components/button/CreateButton";
import ScheduleNew from "@/fragment/schedule/ScheduleNew";
import { mapState } from  "vuex"
export default {
  name: "ScheduleManagement",
  components: {CreateButton, ScheduleTable, ScheduleDetail, ScheduleNew},
  computed: {
    ...mapState('schedule',[
        'items'
    ])
  },
  mounted() {
    this.fetchAPI()
  },
  methods: {
    async fetchAPI(){
      try {
        await this.$store.dispatch('schedule/getItems')
      } finally {
        await this.$store.dispatch('onNotificationSuccess', 'SUCCESS FETCH API', {root: true})
      }
    },
    createForm() {
      this.$refs.scheduleNew.open(Object.assign({}))
    },
    onDetail(item){
      this.$refs.scheduleDetail.open(Object.assign({}, item))``
    },
    onDeleted(){
      this.fetchAPI()
    },
    detailForm(item){
      this.$refs.scheduleDetail.open(Object.assign({}, item))
    },
    switchSchedule(item){
      console.log(item)
    }
  }
}
</script>

<style scoped>

</style>
