<template>
  <v-container
      id="regular-tables"
      fluid
      tag="section"
  >
    <base-material-card
        icon="mdi-clipboard-text"
        :title="this.$route.meta.title"
        class="px-5 py-3"
    >

      <device-type-table
          @editForm="editForm"
          @createForm="createForm"
          @detailForm="detailForm"
      ></device-type-table>

      <device-type-detail
          ref="deviceTypeDetail"
      ></device-type-detail>

      <device-type-form
          ref="deviceTypeForm"
      >
      </device-type-form>

    </base-material-card>

    <create-button @click="createForm">
      <template v-slot:title>
        <span>Create Device Type</span>
      </template>
    </create-button>
  </v-container>
</template>

<script>

export default {
  name: "DeviceTypeManagement",
  data: () => ({
  }),
  mounted() {
    this.fetchAPI()
  },
  components: {
    DeviceTypeTable : () => import('@/fragment/manage/deviceType/DeviceTypeTable'),
    DeviceTypeForm : () => import('@/fragment/manage/deviceType/DeviceTypeForm'),
    DeviceTypeDetail : () => import('@/fragment/manage/deviceType/DeviceTypeDetail'),
    CreateButton : () => import('@/components/button/CreateButton')
  },
  methods: {
    fetchAPI(){
      this.$store.dispatch('manage/deviceType/getItems',{ status: 'active'})
    },
    createForm(){
      this.$refs.deviceTypeForm.open(null)
    },
    detailForm(item){
      this.$refs.deviceTypeDetail.open(item)
    },
    editForm(item){
      this.$refs.deviceTypeForm.open(item.id)
    },
  }
}
</script>

<style scoped>

</style>
