<template>
  <v-dialog
    v-model="dialog"
    width="500"
    @click:outside="close"
  >
    <v-card>
      <v-card-title>
        Change Password
      </v-card-title>
      <v-card-text>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          @submit.prevent="changePassword"
        >
          <v-text-field
            v-model="form.old_password"
            label="Old Password"
            type="password"
            :rules="rules.password"
            :error-messages="errors.old_password"
          ></v-text-field>

          <v-text-field
            v-model="form.password"
            label="Password"
            type="password"
            :rules="rules.password"
            :error-messages="errors.password"
          ></v-text-field>

          <v-text-field
            v-model="form.password_confirmation"
            label="Password Confirmation"
            type="password"
            :rules="rules.password.concat(passwordConfirmationRule)"
            :error-messages="errors.password_confirmation"
          ></v-text-field>

          <v-btn
            :disabled="!valid"
            color="success"
            class="mr-4"
            type="submit"
          >
            Update
          </v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import rules from "@/config/validation/baseRules";
import {mapState} from "vuex";

export default {
  name: "ChangePassword",
  data: () => ({
    rules,
    valid: false,
    dialog: false,
    form: {
      old_password: null,
      password: null,
      password_confirmation: null,
    }
  }),
  computed: {
    ...mapState('notification', ['errors']),
    passwordConfirmationRule() {
      return () => this.form.password === this.form.password_confirmation || "Password must match";
    }
  },
  methods: {
    changePassword() {
      this.$store.dispatch('account/changePassword', this.form)
        .then(() => this.close())
    },
    open() {
      this.dialog = true
    },
    close() {
      this.dialog = false
    },
  }
}
</script>

<style scoped>

</style>
