<template>
  <v-dialog
    v-model="dialog"
    width="500"
    @click:outside="close"
  >
    <v-card>
      <v-card-title>
        Update Profile
      </v-card-title>
      <v-card-text>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          @submit.prevent="updateProfile"
        >
          <div>
            <v-text-field
              v-model="form.name"
              :rules="rules.name"
              label="Name"
              required
            ></v-text-field>

            <v-text-field
              v-model="form.email"
              :rules="rules.email"
              label="E-mail"
              required
            ></v-text-field>
          </div>

          <v-btn
            :disabled="!valid"
            color="success"
            class="mr-4"
            type="submit"
          >
            Update
          </v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import {mapState} from "vuex";
import rules from "@/config/validation/baseRules"

export default {
  name: "ProfileForm",
  data: () => ({
    rules,
    valid: false,
    dialog: false,
    form: {
      name: null,
      email: null,
    }
  }),
  computed: {
    ...mapState('account', ['user', 'loading']),
    ...mapState('notification', ['errors'])
  },
  mounted() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      this.$store.dispatch('account/fetchUserProfile')
        .then(res => {
          this.form.name = res.data.data.user.name
          this.form.email = res.data.data.user.email
        })
    },
    resetPassword() {
      this.form.password = null
      this.form.password_confirmation = null
    },
    open() {
      this.dialog = true
    },
    close() {
      this.dialog = false
    },
    updateProfile() {
      this.$store.dispatch('account/updateProfile', {...this.form})
        .then(() => this.close())
    }
  }
}
</script>

<style scoped>

</style>
