<template>
  <v-container fill-height fluid class="wrap">
    <v-row justify="center">
      <v-col cols="11" md="6" lg="4">
        <div v-if="loading">
          <v-skeleton-loader
            type="card-heading, list-item-two-line, list-item-two-line, list-item-two-line"
          ></v-skeleton-loader>
        </div>
        <v-card class="rounded-0" v-else>
          <v-card-title>USER PROFILE</v-card-title>
          <v-card-text>
            <v-list>
              <v-list-item>
                <v-list-item-title>
                  Nama
                </v-list-item-title>
                <v-list-item-subtitle>
                  {{ this.user.name }}
                </v-list-item-subtitle>
              </v-list-item>
              <v-list-item>
                <v-list-item-title>
                  Email
                </v-list-item-title>
                <v-list-item-subtitle>
                  {{ this.user.email }}
                </v-list-item-subtitle>
              </v-list-item>
              <v-list-item>
                <v-list-item-title>
                  Password
                </v-list-item-title>
                <v-list-item-subtitle>
                  <a href="#" @click="changePassword">*******</a>
                </v-list-item-subtitle>
              </v-list-item>
            </v-list>
          </v-card-text>
          <v-card-actions>
            <v-btn
              color="primary"
              small
              :style="{margin: 'auto'}"
              @click="editForm"
            >
              Edit
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <profile-form ref="profileForm"></profile-form>
    <change-password ref="changePassword"></change-password>
  </v-container>
</template>

<script>
import {mapGetters, mapState} from "vuex";
import ProfileForm from "@/pages/user/profile/ProfileForm";
import ChangePassword from "@/pages/user/profile/ChangePassword";

export default {
  name: "Profile",
  components: {ProfileForm, ChangePassword},
  computed: {
    ...mapGetters('account', ['user']),
    ...mapState('account', ['loading'])
  },
  methods: {
    editForm() {
      this.$refs.profileForm.open()
    },
    changePassword() {
      this.$refs.changePassword.open()
    }
  }
}
</script>

<style scoped>

</style>
