<template>
  <v-dialog
      v-model="dialog"
      max-width="500px"
  >
    <v-card  v-if="!loading">
      <v-card-title>
        <span class="headline">{{ renderedTitle }} Area</span>
      </v-card-title>

      <v-form
        v-model="valid"
        lazy-validation
        ref="form"
        @submit.prevent="save"
      >
        <v-card-text>
          <v-text-field
            label="Name"
            :rules="rules.name"
            :error-messages="errors.name"
            outlined
            v-model="item.name"
          />

          <v-textarea
            label="Description"
            :error-messages="errors.description"
            outlined
            v-model="item.description"
          />
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              color="blue darken-1"
              text
              @click="close"
          >
            {{renderedAction}}
          </v-btn>
          <v-btn
              color="success"
              type="submit"
              :disabled="!valid"
          >
            {{ !isEdit ? 'Create' : 'Save'}}
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
    <loading-card v-else></loading-card>
  </v-dialog>
</template>

<script>
import {mapState} from "vuex";
import baseRules from  '@/config/validation/baseRules'
import LoadingCard from "@/components/LoadingCard";

export default {
  name: "AreaForm",
  data: () => ({
    dialog: false,
    valid: true,
    item: {
      name: null,
      description: null,
    },
    isEdit: null,
    rules: baseRules
  }),
  components: {LoadingCard},
  computed: {
    ...mapState('area', ['detailItem', 'loading']),
    ...mapState('area',{areas: 'items'}),
    ...mapState('notification', ['errors']),
    renderedTitle(){
      if(this.isEdit)
        return 'Edit'
      else if(!this.edit && this.item)
        return 'Create'
      return ''
    },
    renderedAction(){
      return this.isEdit ? 'Cancel' : 'Close'
    }
  },
  methods: {
    fetchAPI() {
      return this.$store.dispatch('area/getItems', { status: 'active'})
    },

    open(itemId, isEdit){
      this.dialog = true
      this.isEdit = isEdit
      if (isEdit && itemId) {
        this.$store.dispatch('area/getDetailItem', itemId).then(res => {
          this.item = res.data.data
        })
      } else {
        this.item = {
          name: null,
          description: null,
        }
      }
    },

    createItem(){
      const data = {
        name: this.item.name,
        description: this.item.description,
      }

      return this.$store.dispatch('area/create', data)
    },

    editItem(){
      const data = {
        name: this.detailItem.name,
        description: this.detailItem.description,
      }

      return this.$store.dispatch('area/update', {
        data,
        areaId: this.detailItem.id
      })
    },

    save () {
      if (this.$refs.form.validate()) {
        (this.isEdit ?
          this.editItem() :
          this.createItem())
          .then(() => {
            this.fetchAPI()
            this.close()
          })
      }
    },

    close() {
      this.isEdit = null
      this.dialog = false
    },
  }
}
</script>

<style scoped>

</style>
