<template>
  <v-card elevation="0">
    <v-card-title>

      <v-row>
        <v-col sm="3">
          <v-select
              v-model="query"
              :items="filterList"
              :item-text="filterList.text"
              :item-value="filterList.value"
              label="Filter"
              outlined
          ></v-select>
        </v-col>
      </v-row>

      <v-spacer></v-spacer>
      <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
      ></v-text-field>
    </v-card-title>

    <v-data-table
        :headers="headers"
        :items="items"
        :loading="loading"
        :page="filter.page"
        :items-per-page="filter.per_page"
        :server-items-length="filter.total"
        @update:page="onPaginateClick"
        @update:items-per-page="updateItemsPerPage"
        :search="search"
        item-key="id"
        class="elevation-0"
    >

      <template v-slot:item.interval="{ item }">
        <div class="d-flex flex-wrap flex-column">
          <a class="no-color">{{`Interval : ${item.interval}`}}</a>
          <v-btn
              v-if="!item.device_is_active"
              :disabled="!checkTeamRoleAndAuthor(item)"
              v-on:click="openDeviceAction(item)"
              class="btn-no-padding"
              text
              color="success">Start Device</v-btn>

          <v-btn
              v-if="item.device_is_active"
              :disabled="!checkTeamRoleAndAuthor(item)"
              v-on:click="stopDevice(item)"
              class="btn-no-padding"
              text
              color="error">Stop Device</v-btn>
        </div>
      </template>

      <template v-slot:item.action="{ item }">
        <detail-button
            @click="detailItem(item)"
        ></detail-button>

        <edit-button
            v-if="checkTeamRoleAndAuthor(item)"
            @click="editItem(item)"
        ></edit-button>

        <delete-button
            v-if="checkAuthorDevice(item)"
            @click="deleteItem(item)"
        >
        </delete-button>
      </template>
    </v-data-table>
    <device-action-display
        ref="deviceActionDisplay"
    >
    </device-action-display>
  </v-card>
</template>

<script>
import DetailButton from "@/components/button/DetailButton";
import EditButton from "@/components/button/EditButton";
import DeleteButton from "@/components/button/DeleteButton";
import DeviceActionDisplay from "@/fragment/manage/device/DeviceAction";
import headers from "@/config/tables/manage/device";
import {mapGetters, mapMutations, mapState} from "vuex";

export default {
  name: "DeviceTable",
  components: {DetailButton, EditButton, DeleteButton, DeviceActionDisplay},
  data: () => ({
    search: null,
    filterList: [{text : 'All', value: 'all'},{text : 'Team', value: 'team'}, {text : 'User', value: 'user'}],
    query : 'team',
    headers
  }),
  watch: {
    query (newVal){
      this.setFilter({query: newVal})
      this.fetchAPI()
    }
  },
  computed: {
    ...mapState('account', {
      userItems : 'user'
    }),
    ...mapState('manage/device',[
      'items',
      'loading',
      'filter'
    ]),
    ...mapGetters('manage/device',['filter']),
  },
  methods: {
    ...mapMutations('manage/device', ['setFilter']),
    checkTeamRoleAndAuthor(item){
      return item.user_id == this.userItems.id || this.userItems.current_team_role
    },
    checkAuthorDevice(item){
      return item.user_id === this.userItems.id
    },
    onPaginateClick(page) {
      this.setFilter({
        current_page: page,
      })
      this.fetchAPI()
    },
    updateItemsPerPage(itemsPerPage) {
      this.setFilter({
        per_page: itemsPerPage,
      })
      this.fetchAPI()
    },
    async fetchAPI() {
      await this.$store.dispatch('manage/device/getItems', { status: 'active'})
    },
    createItem(){
      this.$emit('createForm')
    },
    detailItem(item){
      this.$emit('detailItem', item)
    },
    editItem(item){
      this.$emit('editForm', item)
    },
    openDeviceAction(item){
      this.$refs.deviceActionDisplay.open(item)
    },
    async stopDevice(item){
      const data = {
        interval : item.interval
      }

      await this.$store.dispatch('onNotificationConfirm',
          {
            description: "Are you sure stop this device ", title: "Delete", button: [
              {
                text: 'Yes', action: (toast) => {
                  this.$store.dispatch('manage/device/startAndStopDevice', {
                    data,
                    deviceId: item.id
                  })
                      .then(this.fetchAPI)
                  this.$snotify.remove(toast.id)
                }, bold: false
              },
              {text: 'No', action: (toast) => this.$snotify.remove(toast.id)},
            ]
          }
      )
    },
    async deleteItem(item){
      if(this.checkAuthorDevice(item)){
        await this.$store.dispatch('onNotificationConfirm',
            {
              description: "Are you sure delete device ", title: "Delete", button: [
                {
                  text: 'Yes', action: (toast) => {
                    this.$store.dispatch('manage/device/delete', item.id)
                        .then(this.fetchAPI)
                    this.$snotify.remove(toast.id)
                  }, bold: false
                },
                {text: 'No', action: (toast) => this.$snotify.remove(toast.id)},
              ]
            }
        )
      }
      }
  }
}
</script>

<style scoped>
 .btn-no-padding{
   padding: 0!important;
   margin-top: 0.25rem;
   margin-bottom: 0.25rem;
   height: 0!important;
 }
 .no-color{
   margin-top: 0.25rem;
   color: inherit;
   cursor: inherit;
   text-align: center;
 }
</style>
