<template>
  <v-dialog
      v-model="dialog"
      max-width="500px"
  >
    <v-card v-if="item">
      <v-card-title>
        <span class="headline">{{this.isEdit ? 'Edit' : 'Create'}} User Device</span>
      </v-card-title>

      <v-card-text >
        <v-form
            ref="form"
        >
          <v-text-field
              label="Device Name"
              v-model="item.name"
              :error-messages="errors.name"
              outlined
              :rules="rules.required('Device Name')"
          />
          <v-text-field
              label="Description"
              v-model="item.description"
              :error-messages="errors.description"
              outlined
              :rules="rules.required('Description')"
          />
          <v-text-field
              label="Unit ID"
              v-model="item.unit_id"
              :error-messages="errors.unit_id"
              outlined
              :rules="rules.number('Unit ID')"
          />
          <v-text-field
              label="IP Address"
              outlined
              v-model="item.ip_address"
              :error-messages="errors.ip_address"
              :rules="rules.IPAddress"
          />
          <v-text-field
              v-if="isEdit && user.id !== item.user_id"
              label="Team ID"
              :error-messages="errors.managed_by_team_id"
              outlined
              v-model="item.managed_by_team_id"
              :rules="rules.number('Team ID')"
          />
          <v-row
              align="center"
          >
            <v-col cols="12">
              <v-autocomplete
                  v-model="area"
                  :items="listArea"
                  outlined
                  dense
                  label="Area Name"
              ></v-autocomplete>
            </v-col>
            <v-col cols="12">
              <v-autocomplete
                  v-model="deviceType"
                  :items="listDeviceType"
                  outlined
                  dense
                  label="Device Type Name"
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            color="blue darken-1"
            text
            @click="close"
        >
          Cancel
        </v-btn>
        <v-btn
            color="primary"
            @click="save"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import {mapState} from "vuex";
import rules from "@/config/validation/baseRules";

export default {
  name: "DeviceForm",
  data: () => ({
    dialog: false,
    item : null,
    isEdit : true,
    area: null,
    listArea: [],
    deviceType: null,
    listDeviceType: [],
    rules
  }),
  computed: {
    ...mapState('manage/device',[
      'items',
      'loading'
    ]),
    ...mapState('manage/deviceType',{
      itemDeviceType : 'items'
    }),
    ...mapState('notification', [
        'errors'
    ]),
    ...mapState('account',[
        'user'
    ]),
    ...mapState('area',{
      itemArea : 'items'
    }),
  },
  mounted() {
    this.fetchAPI()
  },
  methods: {
    fetchAPI() {
      this.$store.dispatch('manage/device/getItems', {query: 'team'})
      this.$store.dispatch('manage/deviceType/getItems', { status: 'all'})
      this.$store.dispatch('area/getItems',{ status: 'all'})
    },
    open(item, type) {
      this.item = item
      this.isEdit = type
      this.deviceType = this.filterDeviceType(item)
      this.filterListDeviceType()
      this.area = this.filterArea(item)
      this.filterListArea()
      if (!this.isEdit) {
        this.$refs.form.reset()
      }
      this.dialog = !!item
    },

    filterListArea(){
      let temp = []
      this.itemArea.map(data => {
        temp.push(data.name)
      })
      this.listArea =  temp
    },
    filterArea(item){
      let temp = ""
      this.itemDeviceType.map(data => {
        if(item.type_id == data.id)
          temp = data
      })
      this.deviceType = temp.name
    },

    sendArea(areaName){
      let areaId = null
      this.itemArea.map(data => {
        if(areaName == data.type)
          areaId = data.id
      })
      return areaId
    },

    filterListDeviceType(){
      let temp = []
      this.itemDeviceType.map(data => {
        temp.push(data.type)
      })
      this.listDeviceType =  temp
    },
    filterDeviceType(item){
      let temp = ""
      this.itemDeviceType.map(data => {
        if(item.type_id == data.id)
          temp = data
      })
      this.deviceType = temp.type
    },

    sendDeviceType(typeName){
      let typeId = null
      this.itemDeviceType.map(data => {
        if(typeName == data.type)
          typeId = data.id
      })
      return typeId
    },

    async save () {
      if (this.$refs.form.validate()) {
        const data = {
          name: this.item.name,
          description: this.item.description,
          unit_id: this.item.unit_id,
          ip_address: this.item.ip_address,
          type_id : this.sendDeviceType(this.deviceType),
          area_id : this.sendArea(this.area),
          managed_by_team_id : this.item.managed_by_team_id
        }

        this.isEdit ? await this.$store.dispatch('manage/device/updateUser', {
              data,
              deviceId: this.item.id,
            })
            :  await this.$store.dispatch('manage/device/create', data)

        this.close()
      }
    },

    close() {
      this.dialog = false
    },
  }
}
</script>

<style scoped>

</style>
