<template>
  <v-dialog
      v-model="dialog"
      max-width="500px"
  >
    <v-card
        v-if="!loading"
        class="px-4 pt-2"
    >
      <v-list flat>
        <v-list-item-title class="headline text-center mb-6">Detail {{ filterNameDetail }} Device</v-list-item-title>
        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-cellphone-link</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Device Name :</v-list-item-subtitle>
            <v-list-item-title  v-text="item.name" class="text-big"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-note-text</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Description :</v-list-item-subtitle>
            <v-list-item-title  v-text="item.description" class="text-big"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-arrow-decision</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Area Name :</v-list-item-subtitle>
            <v-list-item-title  v-text="item.area_name" class="text-big"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-dlna</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Unit ID :</v-list-item-subtitle>
            <v-list-item-title  v-text="item.unit_id" class="text-big"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-clipboard-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Device Type Name :</v-list-item-subtitle>
            <v-list-item-title
                class="text-big"
                v-text="item.device_type_name"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item >
          <v-list-item-icon>
            <v-icon large >mdi-account-details</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Author Name :</v-list-item-subtitle>
            <v-list-item-title
                class="text-big"
                v-text="item.author"
            ></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item >
          <v-list-item-icon>
            <v-icon large >mdi-ip-network-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >IP Address :</v-list-item-subtitle>
            <v-list-item-title
                class="text-big"
                v-text="item.ip_address"
            ></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item >
          <v-list-item-icon>
            <v-icon large > mdi-timer-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >Interval :</v-list-item-subtitle>
            <v-list-item-title
                class="text-big"
                v-text="item.interval"
            ></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item >
          <v-list-item-icon>
            <v-icon large > mdi-earth</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle
                class="text-big"
            >End Point URL :</v-list-item-subtitle>
            <p class="text-big word-break">{{item.endpoint_url}}</p>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-icon>
            <v-icon large >mdi-tune</v-icon>
          </v-list-item-icon>
          <v-list-item-content

          >
            <v-list-item-subtitle
                class="text-big"
            >Parameter :</v-list-item-subtitle>
            <div class="d-flex flex-wrap">
              <div
                  class="col-lg-5 col-md-12 mt-3 custom-padding"
                  v-for="param in item.parameter"
                  :key="`${param} + ${item.id}`"
              >
                <v-list-item-title
                    v-text="param"></v-list-item-title>
              </div>
            </div>
          </v-list-item-content>
        </v-list-item>

      </v-list>
      <v-card-actions class="d-flex justify-end px-4 py-4">
        <v-btn
            outlined
            @click="close"
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
    <loading-card v-else></loading-card>
  </v-dialog>
</template>

<script>
import LoadingCard from "@/components/LoadingCard";
import {mapActions, mapState} from "vuex";

export default {
  name: "DeviceDetail",
  data: () => ({
    dialog: false,
    itemId: null
  }),
  components: {
    LoadingCard
  },
  computed: {
    ...mapState('manage/device',{
      item : 'detailItem',
      loading : 'loading'
    }),
    ...mapActions('manage/device',[
      'getDetailItem'
    ]),
    ...mapState('account', [
       'user'
    ]),
    filterNameDetail() {
        return this.user.id === this.item.user_id ?  'User' : 'Team'
    }
  },
  methods: {
    open(item) {
      this.itemId = item.id
      this.$store.dispatch('manage/device/getDetailItem', { deviceId: this.itemId})
          .then(() => this.dialog = !!item)
    },
    close() {
      this.dialog = false
    }
  }
}
</script>

<style scoped>

</style>
