<template>
  <v-dialog
      v-model="dialog"
      max-width="500px"
  >
    <v-card>
      <v-card-title>
        <span class="headline">Action Device</span>
      </v-card-title>

      <v-card-text>
        <v-form
            ref="form"
        >
          <v-text-field
              label="Interval"
              outlined
              suffix="/second"
              v-model.number="interval"
              :rules="rules.interval"
          />
        </v-form>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            color="blue darken-1"
            text
            @click="close"
        >
          Cancel
        </v-btn>
        <v-btn
            color="primary"
            @click="save"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import rules from "@/config/validation/baseRules";

export default {
  name: "DeviceAction",
  data: () => ({
    dialog: false,
    interval : null,
    item: null,
    rules
  }),
  methods: {
    open(item) {
      this.dialog = !!item
      this.item = item
      this.interval = item.interval
    },

    async save () {
      const data = {
        interval : this.interval
      }

      if (this.$refs.form.validate()) {
        await this.$store.dispatch('manage/device/startAndStopDevice', {
          data,
          deviceId: this.item.id,
        })

        this.close()
      }
    },

    close() {
      this.dialog = false
    },

  }
}
</script>

<style scoped>

</style>
