<template>
  <v-container
      id="regular-tables"
      fluid
      tag="section"
      v-if="$can(roleGate.access)"
  >
    <template>
      <base-material-card
          icon="mdi-clipboard-text"
          :title="this.$route.meta.title"
          class="px-5 py-3"
          color="blue"
      >
        <form-permission
            ref="modalPermission"
            @fetchAPI="fetchAPI"
            v-if="roleFormGate"
        ></form-permission>

        <table-permission
            @itemAction="itemAction"
        ></table-permission>

      </base-material-card>

      <create-button v-if="$can(roleGate.create)" @click="itemAction('create', null)"></create-button>
    </template>
  </v-container>
</template>

<script>
import {mapState} from "vuex";
import roleGate from "@/config/gate/role";

export default {
name: "RoleManagement",
  data: () => ({
    attrs: {
      class: 'mb-6',
      boilerplate: true,
      elevation: 2,
    },
    roleGate,
  }),
  components: {
    TablePermission: () => import('@/fragment/manage/role/RoleTable'),
    FormPermission: () => import('@/fragment/manage/role/RoleForm'),
    CreateButton: () => import('@/components/button/CreateButton')
  },
  mounted: function () {
    this.fetchAPI()
  },
  computed: {
    ...mapState('manage/role', ['loading']),
    roleFormGate() {
      return this.$can(roleGate.edit) || this.$can(roleGate.create)
    }
  },
  methods: {
    fetchAPI() {
      this.$store.dispatch('manage/role/getItems')
    },

    async itemAction(action, item) {
      if(action === 'create'){
        const item = {
          name: '',
          permission: [],
        }
        this.$refs.modalPermission.open(Object.assign({}, item), false)
      }
      else if (action === 'edit') {
        this.$refs.modalPermission.open(Object.assign({}, item), true)
      } else if (action === 'delete') {
        await this.$store.dispatch('onNotificationConfirm',
            {description: "Are you sure delete role ", title: "Delete", button: [
                {text: 'Yes', action: (toast) => {
                    this.$refs.modalPermission.deleteItemConfirm(Object.assign({}, item));
                    this.$snotify.remove(toast.id)
                  }, bold: false},
                {text: 'No', action: (toast) => this.$snotify.remove(toast.id)},
              ]}
        )
      }
    },
  }
}
</script>

<style scoped>

</style>
