<template>
  <v-container
        id="regular-tables"
        fluid
        tag="section"
        class="mb-6 pb-6"
    >
     <base-material-card
            :icon="this.$route.meta.icon || 'mdi-clipboard-text'"
            title="Lecturer"
            class="px-5 py-5"
     >
     <lecturer-detail
         ref="lecturerDetail"></lecturer-detail>
     <lecturer-table
         @editForm="editForm"
         @detailForm="detailForm"
     ></lecturer-table>
       <lecturer-form
           ref="lecturerForm"
       ></lecturer-form>
     </base-material-card>
    <create-button @click="createForm">
      <template v-slot:title>
        <span>Create Lecturer</span>
      </template>
    </create-button>
    </v-container>
</template>


<script>
import LecturerTable from "../../fragment/lecturer/LecturerTable";
import LecturerForm from "../../fragment/lecturer/LecturerForm";
import LecturerDetail from "../../fragment/lecturer/LecturerDetail";
import CreateButton from "../../components/button/CreateButton";


export default {
  components: {LecturerTable, LecturerDetail, LecturerForm, CreateButton},
  data: () => ({
    attrs: {
      class: 'mb-6',
      boilerplate: true,
      elevation: 2,
    }
  }),
  mounted() {
    this.fetchAPI()
  },
  methods: {
    fetchAPI(){
      this.$store.dispatch('lecturer/getItems')
    },
    createForm(){
      this.$refs.lecturerForm.open(null, false)
    },
    detailForm(item){
      this.$refs.lecturerDetail.open(item)
    },
    editForm(item){
      this.$refs.lecturerForm.open(item.id, true)
    }
  }
}
</script>

<style scoped>

</style>
